interactions:
- request:
    body:
      client_id: homemobile
      code_challenge: GWTCg0JxHH_6o0UvYbKXQdvds2lmmWPgYusWJeR01Io
      code_challenge_method: S256
      redirect_uri: melcloudhome://
      response_type: code
      scope: openid profile email offline_access IdentityServerApi
      state: oK1XfnZKChh7Sf_OFUA_iQ
    headers:
    method: POST
    uri: https://auth.melcloudhome.com/connect/par
  response:
    body:
      string: '{"request_uri":"urn:ietf:params:oauth:request_uri:755388BC5128A6D7B963756B0ACB4C8DE056EA17DCAFBA65AFB685ADB39787EE","expires_in":600}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      apigw-requestid:
      - CmipejwFDoEEJFQ=
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/connect/authorize?client_id=homemobile&request_uri=urn:ietf:params:oauth:request_uri:755388BC5128A6D7B963756B0ACB4C8DE056EA17DCAFBA65AFB685ADB39787EE
  response:
    body: {}
    headers:
      Location:
      - https://auth.melcloudhome.com/Account/Login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A755388BC5128A6D7B963756B0ACB4C8DE056EA17DCAFBA65AFB685ADB39787EE%26client_id%3Dhomemobile
      apigw-requestid:
      - CmipeiWeDoEEJdQ=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/Account/Login?ReturnUrl=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A755388BC5128A6D7B963756B0ACB4C8DE056EA17DCAFBA65AFB685ADB39787EE%26client_id%3Dhomemobile
  response:
    body: {}
    headers:
      Location:
      - /ExternalLogin/Challenge?scheme=cognito-meu&returnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A755388BC5128A6D7B963756B0ACB4C8DE056EA17DCAFBA65AFB685ADB39787EE%26client_id%3Dhomemobile
      apigw-requestid:
      - CmipfhS2joEEJGQ=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/ExternalLogin/Challenge?scheme=cognito-meu&returnUrl=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A755388BC5128A6D7B963756B0ACB4C8DE056EA17DCAFBA65AFB685ADB39787EE%26client_id%3Dhomemobile
  response:
    body: {}
    headers:
      Location:
      - https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/oauth2/authorize?client_id=3g4d5l5kivuqi7oia68[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/oauth2/authorize?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=KqIanGwGSMthnu9LBKlpuk3qQYFLxSGw6q5M7IbPQtE&code_challenge_method=S256&response_mode=form_post&nonce=639231628378916326.YzMwZDU4YTQtODhlZi00NDk4LThmNGQtYjQ1ZGNiOWZmNjYzZjNjY2RjOGQtNzIxOC00YTAxLTlhODAtOWEzYTU[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/login?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=KqIanGwGSMthnu9LBKlpuk3qQYFLxSGw6q5M7IbPQtE&code_challenge_method=S256&response_mode=form_post&nonce=639231628378916326.YzMwZDU4YTQtODhlZi00NDk4LThmNGQtYjQ1ZGNiOWZmNjYzZjNjY2RjOGQtNzIxOC00YTAxLTlhODAtOWEzYTUyZjA2MDJh&state=CfDJ8I9HYxO_M3FJmqyQy6voCjL_UojCHzQWTwpuCu6e43fTULrmzl9Hg1U-W4d7zm4j-CBx-big5_iLE0E_d1KHpqonAkkjbRA-f9I_lnIMIOVIeOsvCBpaCeifG1RmnBFjqgedt4hmNnXboRVlgTT2ZNercqRp3Sk_ulHW72wzcPOpnI9-2FzIQDGKfFC3RSwisQ4RuH5QPl7ucXzdrFLifn-YZanovaCNZf15sMtm53rrN6XLbZ87Sfor8BRTP25DhJnWkRrKOXxvCpMeZ7msdDMMhLML6B6JzCuCT3aMY7obVKZun30jxPGrRRNtid97J2duq8fYLt_qmArJYDpZQnX8SprCQPbIxkwZngme3nsNY6cTQTnOAiRGcAeLXHkWwUJorThyHi4QLSnwpkoOSKqZ8aenxfgP6B6rpgXADa592MM8Ok-xfDpTwH3FhWH7evEPjr6n3uJ37nDxKOYUcuIFgWXLY3AtKJVUlwaeRF29i4ExQg_5rhZDzUuWLPE9DQ3QdgHGu5JDSM9Y26lOFmxyo0udSYlAppdNadcMD6klguXYGaoQhGpn-ybLlC09OEcIoQdG5ccMfMVRtDywXtltOEhRT-rSPiYU3_MvcW7o2-uxZZ1PzqeydzHMdMepkTnYUmvfu7u8mwiXj9EHUZP_LshUOkzJma1L3bJ-hQSR&x-client-SKU=ID_NET8_0&x-client-ver=7.1.2.0
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head><head>\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/css/bootstrap.min.css\"
        rel=\"stylesheet\"\n        media=\"screen\" />\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/css/cognito-login.css\"
        rel=\"stylesheet\"\n        media=\"screen\" />\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/eu-west-1_gFEQiVmPM/3g4d5l5kivuqi7oia68gib7uso/20250401160518/assets/CSS/custom-css.css\"
        rel=\"stylesheet\" media=\"screen\" />\n    <title>Signin</title>\n\n    <script
        src=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/js/amazon-cognito-advanced-security-data.min.js\"
        ></script>\n    <script>\n    function getAdvancedSecurityData(formReference)
        {\n        if (typeof AmazonCognitoAdvancedSecurityData === \"undefined\")
        {\n            return true;\n        }\n\n        // UserpoolId is not available
        on frontend for springboard. We do not use userPoolId\n        // anyway other
        than put in context data. \n        var userPoolId = \"\";\n        var clientId
        = getUrlParameter(\"client_id\");\n\n        var username = \"\";\n        var
        use[...]
- request:
    body:
      _csrf: '***REDACTED***'
      cognitoAsfData: ''
      password: '***REDACTED***'
      username: '***REDACTED_EMAIL***'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/login?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=KqIanGwGSMthnu9LBKlpuk3qQYFLxSGw6q5M7IbPQtE&code_challenge_method=S256&response_mode=form_post&nonce=639231628378916326.YzMwZDU4YTQtODhlZi00NDk4LThmNGQtYjQ1Z[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/signin-oidc-meu?code=763c2280-c6d1-4447-b547-a0c62e43ef2e&state=CfDJ8I9HYxO_M3FJmqyQy6voCjL_UojCHzQWTwpuCu6e43fTULrmzl9Hg1U-W4d7zm4j-CBx-big5_iLE0E_d1KHpqonAkkjbRA-f9I_lnIMIOVIeOsvCBpaCeifG1RmnBFjqgedt4hmNnXboRVlgTT2ZNercqRp3Sk_ulHW72wzcPOpnI9-2FzIQDGKfFC3RSwisQ4RuH5QPl7ucXzdrFLifn-YZanovaCNZf15sMtm53rrN6XLbZ87Sfor8BRTP25DhJnWkRrKOXxvCpMeZ7msdDMMhLML6B6JzCuCT3aMY7obVKZun30jxPGrRRNtid97J2duq8fYLt_qmArJYDpZQnX8SprCQPbIxkwZngme3nsNY6cTQTnOAiRGcAeLXHkWwUJorThyHi4QLSnwpkoOSKqZ8aenxfgP6B6rpgXADa592MM8Ok-xfDpTwH3FhWH7evEPjr6n3uJ37nDxKOYUcuIFgWXLY3AtKJVUlwaeRF29i4ExQg_5rhZDzUuWLPE9DQ3QdgHGu5JDSM9Y26lOFmxyo0udSYlAppdNadcMD6klguXYGaoQhGpn-ybLlC09OEcIoQdG5ccMfMVRtDywXtltOEhRT-rSPiYU3_MvcW7o2-uxZZ1PzqeydzHMdMepkTnYUmvfu7u8mwiXj9EHUZP_LshUOkzJma1L3bJ-hQSR
  response:
    body: {}
    headers:
      Location:
      - /ExternalLogin/Callback
      apigw-requestid:
      - CmipoiFyjoEEJgA=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/ExternalLogin/Callback
  response:
    body: {}
    headers:
      Location:
      - /Redirect?RedirectUri=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A755388BC5128A6D7B963756B0ACB4C8DE056EA17DCAFBA65AFB685ADB39787EE%26client_id%3Dhomemobile
      apigw-requestid:
      - CmipqixhjoEEJ_g=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/Redirect?RedirectUri=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A755388BC5128A6D7B963756B0ACB4C8DE056EA17DCAFBA65AFB685ADB39787EE%26client_id%3Dhomemobile
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\"
        />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0, shrink-to-fit=no\"
        />\n\n    <title>MELCloud Home</title>\n\n    <link rel=\"stylesheet\" href=\"/lib/bootstrap/dist/css/bootstrap.min.css\"
        />\n    <link rel=\"stylesheet\" href=\"/lib/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css\"
        />\n    <link rel=\"stylesheet\" href=\"/css/site.css\" />\n    <link rel=\"stylesheet\"
        href=\"/css/layout.css\" />\n\n    \n</head>\n<body>\n    \n<header class=\"gs18-Header
        gs18-Header--MinInteraction gs18-Header--NoSearch\" role=\"banner\" data-js-gs18-header>\n
        \   <div class=\"gs18-Header__Inner\" style=\"height:85px\">\n        <a href=\"\"
        style=\"position:absolute;\"><img src=\"/logo_with_name.png\" style=\"height:85px;\"
        alt=\"MITSUBISHI ELECTRIC\"></a>\n        <nav class=\"gs18-HeaderNav\" id=\"navMenu\">\n
        \               <ul class=\"gs18-HeaderNav__Menu\" style=\"width:100%\">\n
        \                   <li class=\"nav-item dropdown gs18-HeaderNav__Item\" style=\"color:black
        !important;\">\n                    <a href=\"#\" class=\"nav-link dropdown-toggle
        gs18-HeaderNav__Text\" data-toggle=\"dropdown\">***REDACTED_EMAIL*** <b class=\"caret\"></b></a>\n\n
        \                   <div class=\"dropdown-menu\">\n                        <a
        class=\"dropdown-item\" href=\"/Account/Logout\">Logout</a>\n                    </div>\n
        \               </li>\n            </ul[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/connect/authorize/callback?request_uri=urn:ietf:params:oauth:request_uri:755388BC5128A6D7B963756B0ACB4C8DE056EA17DCAFBA65AFB685ADB39787EE&client_id=homemobile
  response:
    body:
      string: ''
    headers:
      Location:
      - melcloudhome://?code=78CEBBA2C5F7FADCF46A8940F39C691318681FDDD4E7A3B471C2AC4F4FBD56BE-1&scope=openid%20profile%20email%20offline_access%20IdentityServerApi&state=oK1XfnZKChh7Sf_OFUA_iQ&session_state=Ig06JNq0FK34qOC0iYCW31pu49IkFZI8W6-9JeCkO6U.B09E605C213950DEE278C4DD3B6BAE2D&iss=https%3A%2F%2Fauth.melcloudhome.com
      apigw-requestid:
      - CmipshisDoEEJ9Q=
    status:
      code: 302
      message: Found
- request:
    body:
      client_id: homemobile
      code: '***REDACTED***'
      code_verifier: '***REDACTED***'
      grant_type: authorization_code
      redirect_uri: melcloudhome://
    headers:
    method: POST
    uri: https://auth.melcloudhome.com/connect/token
  response:
    body:
      string: '{"id_token":"***REDACTED***","access_token":"***REDACTED***","expires_in":3600,"token_type":"Bearer","refresh_token":"***REDACTED***","scope":"openid
        profile email offline_access IdentityServerApi"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      apigw-requestid:
      - Cmiptj1rDoEEJOA=
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - '***REDACTED***'
    method: GET
    uri: https://mobile.bff.melcloudhome.com/context
  response:
    body:
      string: '{"id":"aaaaaaaa-aaaa-aaaa-aaaa-e02c4382eb85","firstname":"***REDACTED***","lastname":"***REDACTED***","email":"***REDACTED_EMAIL***","language":"en","country":"GB","numberOfDevicesAllowed":10,"numberOfBuildingsAllowed":2,"numberOfGuestUsersAllowedPerUnit":5,"numberOfGuestDevicesAllowed":10,"buildings":[],"guestBuildings":[{"id":"aaaaaaaa-aaaa-aaaa-aaaa-f90937ac0297","name":"***REDACTED_BUILDING***","timezone":"Europe/London","airToAirUnits":[{"unitSettings":null,"schedule":[],"scheduleEnabled":true,"connectedInterfaceIdentifier":"***REDACTED_MAC***","capabilities":{"isMultiSplitSystem":true,"isLegacyDevice":false,"hasStandby":true,"hasCoolOperationMode":true,"hasHeatOperationMode":true,"hasAutoOperationMode":true,"hasDryOperationMode":true,"hasAutomaticFanSpeed":true,"hasAirDirection":true,"hasSwing":true,"hasExtendedTemperatureRange":true,"hasEnergyConsumedMeter":true,"numberOfFanSpeeds":5,"minTempCoolDry":16,"maxTempCoolDry":31,"minTempHeat":10,"maxTempHeat":31,"minTempAutomatic":16,"maxTempAutomatic":31,"hasDemandSideControl":true,"hasHalfDegreeIncrements":true,"supportsWideVane":false},"frostProtection":{"active":false,"enabled":true,"min":10,"max":12},"overheatProtection":{"active":false,"enabled":false,"min":35,"max":37},"holidayMode":{"enabled":false,"startDate":"2026-07-28T07:44:00.966","endDate":"2026-07-28T07:44:00","active":false},"connectedInterfaceType":"fourthGenWifi","systemId":null,"id":"aaaaaaaa-aaaa-aaaa-aaaa-4c6fd61ac825","givenDisplayName":"***REDACTED_DEVICE***","displayIcon":"DiningRoom","settings":[{"name":"RoomTemperature","value":"20.5"},{"name":"Power","value":"True"},{"name":"OperationMode","value":"Cool"},{"name":"ActualFanSpeed","value":"Two"},{"name":"SetFanSpeed","value":"Auto"},{"name":"VaneHorizontalDirection","value":"Swing"},{"name":"VaneVerticalDirection","value":"Five"},{"name":"InStandbyMode","value":"False"},{"name":"SetTemperature","value":"20"},{"name":"IsInError","value":"False"},{"name":"ErrorCode","value":""}],"timeZone":"Europe/London","rssi":-39,"isConnected":true,"isInError":false},{"unitSettings":null,"schedule":[],"scheduleEnabled":false,"connectedInterfaceIdentifier":"***REDACTED_MAC***","capabilities":{"isMultiSplitSystem":true,"isLegacyDevice":false,"hasStandby":true,"hasCoolOperationMode":true,"hasHeatOperationMode":true,"hasAutoOperationMode":true,"hasDryOperationMode":true,"hasAutomaticFanSpeed":true,"hasAirDirection":true,"hasSwing":true,"hasExtendedTemperatureRange":true,"hasEnergyConsumedMeter":true,"numberOfFanSpeeds":5,"minTempCoolDry":16,"maxTempCoolDr[...]
- request:
    body: null
    headers:
      authorization:
      - '***REDACTED***'
    method: GET
    uri: https://mobile.bff.melcloudhome.com/report/v1/trendsummary?unitId=aaaaaaaa-aaaa-aaaa-aaaa-4c6fd61ac825&period=Hourly&from=2026-07-26T09:30:00.0000000Z&to=2026-07-28T09:30:00.0000000Z
  response:
    body:
      string: '[{"reportPeriod":"hourly","datasets":[{"id":"room_temperature","label":"REPORT.TREND_SUMMARY_REPORT.DATASET.LABELS.ROOM_TEMPERATURE","data":[{"x":"2026-07-26T00:41:13","y":22},{"x":"2026-07-26T00:42:13","y":21.5},{"x":"2026-07-26T01:00:00","y":21.5},{"x":"2026-07-26T02:00:00","y":21.5},{"x":"2026-07-26T02:20:13","y":21},{"x":"2026-07-26T02:21:13","y":21.5},{"x":"2026-07-26T02:37:14","y":21},{"x":"2026-07-26T02:38:14","y":21.5},{"x":"2026-07-26T02:45:13","y":21},{"x":"2026-07-26T02:47:13","y":21.5},{"x":"2026-07-26T02:49:13","y":21},{"x":"2026-07-26T02:50:13","y":21.5},{"x":"2026-07-26T02:58:13","y":21},{"x":"2026-07-26T02:59:13","y"[...]
