interactions:
- request:
    body:
      client_id: homemobile
      code_challenge: GWTCg0JxHH_6o0UvYbKXQdvds2lmmWPgYusWJeR01Io
      code_challenge_method: S256
      redirect_uri: melcloudhome://
      response_type: code
      scope: openid profile email offline_access IdentityServerApi
      state: oK1XfnZKChh7Sf_OFUA_iQ
    headers:
    method: POST
    uri: https://auth.melcloudhome.com/connect/par
  response:
    body:
      string: '{"request_uri":"urn:ietf:params:oauth:request_uri:15D98ED2374FC0582A5E067DFC4F436EBEB0DEF65970A813B4697C924AC07399","expires_in":600}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      apigw-requestid:
      - ci0poiWODoEEPIw=
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/connect/authorize?client_id=homemobile&request_uri=urn:ietf:params:oauth:request_uri:15D98ED2374FC0582A5E067DFC4F436EBEB0DEF65970A813B4697C924AC07399
  response:
    body: {}
    headers:
      Location:
      - https://auth.melcloudhome.com/Account/Login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A15D98ED2374FC0582A5E067DFC4F436EBEB0DEF65970A813B4697C924AC07399%26client_id%3Dhomemobile
      apigw-requestid:
      - ci0poidwDoEEPgQ=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/Account/Login?ReturnUrl=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A15D98ED2374FC0582A5E067DFC4F436EBEB0DEF65970A813B4697C924AC07399%26client_id%3Dhomemobile
  response:
    body: {}
    headers:
      Location:
      - /ExternalLogin/Challenge?scheme=cognito-meu&returnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A15D98ED2374FC0582A5E067DFC4F436EBEB0DEF65970A813B4697C924AC07399%26client_id%3Dhomemobile
      apigw-requestid:
      - ci0ppj-ZjoEEPqA=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/ExternalLogin/Challenge?scheme=cognito-meu&returnUrl=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A15D98ED2374FC0582A5E067DFC4F436EBEB0DEF65970A813B4697C924AC07399%26client_id%3Dhomemobile
  response:
    body: {}
    headers:
      Location:
      - https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/oauth2/authorize?client_id=3g4d5l5kivuqi7oia68[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/oauth2/authorize?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=dseR2WnHHLb1S3WALcvtmG4TaKYYQqGOtJLe2CjMu8M&code_challenge_method=S256&response_mode=form_post&nonce=639129990246334636.NjEzOTg0MzItZWI0MS00MDVlLWI3MmUtYTQzMzMxODAzYWM3NDEwNGQ1OWItNzZlYy00NTI1LWI2NzYtODM3NWN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/login?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=dseR2WnHHLb1S3WALcvtmG4TaKYYQqGOtJLe2CjMu8M&code_challenge_method=S256&response_mode=form_post&nonce=639129990246334636.NjEzOTg0MzItZWI0MS00MDVlLWI3MmUtYTQzMzMxODAzYWM3NDEwNGQ1OWItNzZlYy00NTI1LWI2NzYtODM3NWNmYzI1Nzll&state=CfDJ8IRLia7XffNJh2SAFm28gtlRQBIDS4QliKvlwLwt0bn-BD56drPgIQaUmnZMMmXq9QBAPTSfuh1mvHkR5fWk6u294R7OQLZhwFVkkn4URKtl-7hYkP4NacMoF3vDAHeih7IsNUvKJ1YBm1i47lFTeWzKvi8AM9TK59dqT_PBiwBqmAgk2om5HOl0klrNykfR_tt7O17shksUZaYF1cwaxt0B8qMvs9D2bRSvuuxZld7cO2JotzTMG3Kir5kfh8h-u3BLlNLeqF9BsAbLG5XF7eUkr-Yt3D1kg_dTjfNoiQhwQM3UaRpAyxQYASKAs3vTXoO3w1-SFKTzIXXzV5we4MJdHLZ2kjhJ0watvp2N_cgSP-SrSMdUA0fqEu2x8kKHmmHdXPATFQUjHUI-qrOqhp0il6iNokQwX4mMoYNe8HlXq-gTJX268yA0KEj3bWVIt2C8TKO6TEifmMytSLPEceBb9cE5po80TBL2kTUG_sko6-rXfc8pE3Et1NfwkrsOeS_Cy466RoZBbGGbAYWpCSNQ9bFsD0YmIVu_lHjmP2sFWnQJVh9tsthscZ1XCGGXXEQwjzX3h6EfBbQeolZo136_VnBKq6FNqI7jFk3Iel-vdiMcgsH4pMhO1PfwK6Q7ukfFfC6l4OdeIJqKOfcIiho0cVUZ0nWGWO5ovs7klCvS&x-client-SKU=ID_NET8_0&x-client-ver=7.1.2.0
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head><head>\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/css/bootstrap.min.css\"
        rel=\"stylesheet\"\n        media=\"screen\" />\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/css/cognito-login.css\"
        rel=\"stylesheet\"\n        media=\"screen\" />\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/eu-west-1_gFEQiVmPM/3g4d5l5kivuqi7oia68gib7uso/20250401160518/assets/CSS/custom-css.css\"
        rel=\"stylesheet\" media=\"screen\" />\n    <title>Signin</title>\n\n    <script
        src=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/js/amazon-cognito-advanced-security-data.min.js\"
        ></script>\n    <script>\n    function getAdvancedSecurityData(formReference)
        {\n        if (typeof AmazonCognitoAdvancedSecurityData === \"undefined\")
        {\n            return true;\n        }\n\n        // UserpoolId is not available
        on frontend for springboard. We do not use userPoolId\n        // anyway other
        than put in context data. \n        var userPoolId = \"\";\n        var clientId
        = getUrlParameter(\"client_id\");\n\n        var username = \"\";\n        var
        use[...]
- request:
    body:
      _csrf: '***REDACTED***'
      cognitoAsfData: ''
      password: '***REDACTED***'
      username: '***REDACTED_EMAIL***'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/login?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=dseR2WnHHLb1S3WALcvtmG4TaKYYQqGOtJLe2CjMu8M&code_challenge_method=S256&response_mode=form_post&nonce=639129990246334636.NjEzOTg0MzItZWI0MS00MDVlLWI3MmUtYTQzM[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/signin-oidc-meu?code=5b7e55b4-8cfd-4a6d-9d13-927a846739a7&state=CfDJ8IRLia7XffNJh2SAFm28gtlRQBIDS4QliKvlwLwt0bn-BD56drPgIQaUmnZMMmXq9QBAPTSfuh1mvHkR5fWk6u294R7OQLZhwFVkkn4URKtl-7hYkP4NacMoF3vDAHeih7IsNUvKJ1YBm1i47lFTeWzKvi8AM9TK59dqT_PBiwBqmAgk2om5HOl0klrNykfR_tt7O17shksUZaYF1cwaxt0B8qMvs9D2bRSvuuxZld7cO2JotzTMG3Kir5kfh8h-u3BLlNLeqF9BsAbLG5XF7eUkr-Yt3D1kg_dTjfNoiQhwQM3UaRpAyxQYASKAs3vTXoO3w1-SFKTzIXXzV5we4MJdHLZ2kjhJ0watvp2N_cgSP-SrSMdUA0fqEu2x8kKHmmHdXPATFQUjHUI-qrOqhp0il6iNokQwX4mMoYNe8HlXq-gTJX268yA0KEj3bWVIt2C8TKO6TEifmMytSLPEceBb9cE5po80TBL2kTUG_sko6-rXfc8pE3Et1NfwkrsOeS_Cy466RoZBbGGbAYWpCSNQ9bFsD0YmIVu_lHjmP2sFWnQJVh9tsthscZ1XCGGXXEQwjzX3h6EfBbQeolZo136_VnBKq6FNqI7jFk3Iel-vdiMcgsH4pMhO1PfwK6Q7ukfFfC6l4OdeIJqKOfcIiho0cVUZ0nWGWO5ovs7klCvS
  response:
    body: {}
    headers:
      Location:
      - /ExternalLogin/Callback
      apigw-requestid:
      - ci0p2g_SjoEEP9g=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/ExternalLogin/Callback
  response:
    body: {}
    headers:
      Location:
      - /Redirect?RedirectUri=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A15D98ED2374FC0582A5E067DFC4F436EBEB0DEF65970A813B4697C924AC07399%26client_id%3Dhomemobile
      apigw-requestid:
      - ci0p4hAQDoEEPjw=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/Redirect?RedirectUri=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A15D98ED2374FC0582A5E067DFC4F436EBEB0DEF65970A813B4697C924AC07399%26client_id%3Dhomemobile
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\"
        />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0, shrink-to-fit=no\"
        />\n\n    <title>MELCloud Home</title>\n    \n    <link rel=\"stylesheet\"
        href=\"/lib/bootstrap/dist/css/bootstrap.min.css\" />\n    <link rel=\"stylesheet\"
        href=\"/lib/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css\" />\n
        \   <link rel=\"stylesheet\" href=\"/css/site.css\" />\n    <link rel=\"stylesheet\"
        href=\"/css/layout.css\" />\n</head>\n<body>\n    \n<header class=\"gs18-Header
        gs18-Header--MinInteraction gs18-Header--NoSearch\" role=\"banner\" data-js-gs18-header>\n
        \   <div class=\"gs18-Header__Inner\" style=\"height:85px\">\n        <a href=\"\"
        style=\"position:absolute;\"><img src=\"/logo_with_name.png\" style=\"height:85px;\"
        alt=\"MITSUBISHI ELECTRIC\"></a>\n        <nav class=\"gs18-HeaderNav\" id=\"navMenu\">\n
        \               <ul class=\"gs18-HeaderNav__Menu\" style=\"width:100%\">\n
        \                   <li class=\"nav-item dropdown gs18-HeaderNav__Item\" style=\"color:black
        !important;\">\n                    <a href=\"#\" class=\"nav-link dropdown-toggle
        gs18-HeaderNav__Text\" data-toggle=\"dropdown\">***REDACTED_EMAIL*** <b class=\"caret\"></b></a>\n\n
        \                   <div class=\"dropdown-menu\">\n                        <a
        class=\"dropdown-item\" href=\"/Account/Logout\">Logout</a>\n                    </div>\n
        \               </li>\n            </ul[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/connect/authorize/callback?request_uri=urn:ietf:params:oauth:request_uri:15D98ED2374FC0582A5E067DFC4F436EBEB0DEF65970A813B4697C924AC07399&client_id=homemobile
  response:
    body:
      string: ''
    headers:
      Location:
      - melcloudhome://?code=5FCA78C453C475350F2DE7A88D9269318925606E63AD333D0AEE5DA0E6066B00-1&scope=openid%20profile%20email%20offline_access%20IdentityServerApi&state=oK1XfnZKChh7Sf_OFUA_iQ&session_state=Ju3rYJU8n6ubhivZa3InIr8qMxJG9pFkxC6bIdj9msk.F684FA389ED38B2DFC52D4EB458BA852&iss=https%3A%2F%2Fauth.melcloudhome.com
      apigw-requestid:
      - ci0p6jkBjoEEPxw=
    status:
      code: 302
      message: Found
- request:
    body:
      client_id: homemobile
      code: '***REDACTED***'
      code_verifier: '***REDACTED***'
      grant_type: authorization_code
      redirect_uri: melcloudhome://
    headers:
    method: POST
    uri: https://auth.melcloudhome.com/connect/token
  response:
    body:
      string: '{"id_token":"***REDACTED***","access_token":"***REDACTED***","expires_in":3600,"token_type":"Bearer","refresh_token":"***REDACTED***","scope":"openid
        profile email offline_access IdentityServerApi"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      apigw-requestid:
      - ci0p7guwjoEEPqg=
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - '***REDACTED***'
    method: GET
    uri: https://mobile.bff.melcloudhome.com/context
  response:
    body:
      string: '{"id":"aaaaaaaa-aaaa-aaaa-aaaa-225daa9f9fd6","firstname":"***REDACTED***","lastname":"***REDACTED***","email":"***REDACTED_EMAIL***","language":"en","country":"GB","numberOfDevicesAllowed":10,"numberOfBuildingsAllowed":2,"numberOfGuestUsersAllowedPerUnit":5,"numberOfGuestDevicesAllowed":10,"buildings":[],"guestBuildings":[{"id":"aaaaaaaa-aaaa-aaaa-aaaa-bee6d2e10220","name":"***REDACTED_BUILDING***","timezone":"Europe/London","airToAirUnits":[{"id":"aaaaaaaa-aaaa-aaaa-aaaa-1f2e69275164","givenDisplayName":"***REDACTED_DEVICE***","displayIcon":"DiningRoom","unitSettings":null,"settings":[{"name":"RoomTemperature","value":"20"},{"name":"Power","value":"False"},{"name":"OperationMode","value":"Cool"},{"name":"ActualFanSpeed","value":"Off"},{"name":"SetFanSpeed","value":"Auto"},{"name":"VaneHorizontalDirection","value":"Swing"},{"name":"VaneVerticalDirection","value":"Auto"},{"name":"InStandbyMode","value":"False"},{"name":"SetTemperature","value":"16"},{"name":"IsInError","value":"False"},{"name":"ErrorCode","value":""}],"schedule":[{"days":["sunday","monday","tuesday","wednesday","thursday","friday","saturday"],"time":"07:00:00","enabled":true,"id":"aaaaaaaa-aaaa-aaaa-aaaa-2ae315d78599","power":true,"operationMode":"heat","setPoint":20,"vaneVerticalDirection":"swing","vaneHorizontalDirection":"swing","setFanSpeed":"three"},{"days":["sunday","monday","tuesday","wednesday","thursday","friday","saturday"],"time":"08:00:00","enabled":true,"id":"aaaaaaaa-aaaa-aaaa-aaaa-f5606aba5918","power":false,"operationMode":null,"setPoint":null,"vaneVerticalDirection":null,"vaneHorizontalDirection":null,"setFanSpeed":null},{"days":["monday","sunday","tuesday","wednesday","thursday","friday","saturday"],"time":"20:27:00","enabled":true,"id":"aaaaaaaa-aaaa-aaaa-aaaa-1883e302256e","power":true,"operationMode":"heat","setPoint":19,"vaneVerticalDirection":"auto","vaneHorizontalDirection":"centre","setFanSpeed":"one"},{"days":["monday","sunday","tuesday","wednesday","thursday","friday","saturday"],"time":"20:29:00","enabled":true,"id":"aaaaaaaa-aaaa-aaaa-aaaa-0edd0bf40642","power":false,"operationMode":null,"setPoint":null,"vaneVerticalDirection":null,"vaneHorizontalDirection":null,"setFanSpeed":null}],"isInError":false,"scheduleEnabled":false,"connectedInterfaceIdentifier":"***REDACTED_MAC***","capabilities":{"isMultiSplitSystem":true,"isLegacyDevice":false,"hasStandby":true,"hasCoolOperationMode":true,"hasHeatOperationMode":true,"hasAutoOperationMode":true,"hasDryOperationMode":true,"hasAutomaticFanSpeed":true,"hasAirDirection":true,"hasSwing":true,"hasExtendedTemperatureRange":true,"hasEnergyConsumedMeter":true,"numberOfFanSpeeds":5,"minTempCoolDry":16,"maxTempCoolDry":31,"minTempHeat":10,"maxTempHeat":31,"minTempAutomatic":16,"maxTempAutomatic":31,"hasDemandSideControl":true,"hasHalfDegreeIncrements":true,"supportsWideVane":false},"rssi":-67,"timeZone":"Europe/London","frostProtection":{"active":false,"enabled":false,"min":10,"max":12},"overheatProtection":{"active":false,"enabled":false,"min":35,"max":37},"holidayMode":{"enabled":false,"startDate":"2026-01-12T20:26:12.802","endDate":"2026-01-12T21:00:00","active":false},"isConnected":true,"connectedInterfaceType":"fourthGenWifi","systemId":null},{"id":"aaaaaaaa-aaaa-aaaa-aaaa-3dc9a6f7f311","givenDisplayName":"***REDACTED_DEVICE***","displayIcon":"LivingRoom","unitSettings":null,"settings":[{"name":"RoomTemperature","value":"18"},{"name":"Power","value":"False"},{"name":"OperationMode","value":"Heat"},{"name":"ActualFanSpeed","value":"Off"},{"name":"SetFanSpeed","value":"Auto"},{"name":"VaneHorizontalDirection","value":"Centre"},{"name":"VaneVerticalDirection","value":"Auto"},{"name":"InStandbyMode","value":"False"},{"name":"SetTem[...]
- request:
    body: null
    headers:
      authorization:
      - '***REDACTED***'
    method: GET
    uri: https://mobile.bff.melcloudhome.com/report/v1/trendsummary?unitId=aaaaaaaa-aaaa-aaaa-aaaa-1f2e69275164&period=Daily&from=2026-02-02T12:30:00.0000000&to=2026-02-03T12:30:00.0000000
  response:
    body:
      string: '[{"reportPeriod":"daily","datasets":[{"id":"room_temperature","label":"REPORT.TREND_SUMMARY_REPORT.DATASET.LABELS.ROOM_TEMPERATURE","data":[{"x":"2026-01-27T18:30:00","y":18.642857142857142},{"x":"2026-01-27T19:00:00","y":18.8},{"x":"2026-01-27T19:30:00","y":18.931818181818183},{"x":"2026-01-27T20:00:00","y":18.96875},{"x":"2026-01-27T20:30:00","y":19.025},{"x":"2026-01-27T21:00:00","y":17.625},{"x":"2026-01-27T21:30:00","y":16.75},{"x":"2026-01-27T22:00:00","y":16.583333333333332},{"x":"2026-01-27T22:30:00","y":15.857142857142858},{"x":"2026-01-27T23:00:00","y":15},{"x":"2026-01-27T23:30:00","y":15.5},{"x":"2026-01-28T00:00:00","y[...]
