interactions:
- request:
    body:
      client_id: homemobile
      code_challenge: GWTCg0JxHH_6o0UvYbKXQdvds2lmmWPgYusWJeR01Io
      code_challenge_method: S256
      redirect_uri: melcloudhome://
      response_type: code
      scope: openid profile email offline_access IdentityServerApi
      state: oK1XfnZKChh7Sf_OFUA_iQ
    headers:
    method: POST
    uri: https://auth.melcloudhome.com/connect/par
  response:
    body:
      string: '{"request_uri":"urn:ietf:params:oauth:request_uri:6787207A324D79A11EC10E77B049848C908EA9FC668076D170E86BB022B47555","expires_in":600}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      apigw-requestid:
      - btVfago9DoEEMYQ=
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/connect/authorize?client_id=homemobile&request_uri=urn:ietf:params:oauth:request_uri:6787207A324D79A11EC10E77B049848C908EA9FC668076D170E86BB022B47555
  response:
    body: {}
    headers:
      Location:
      - https://auth.melcloudhome.com/Account/Login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A6787207A324D79A11EC10E77B049848C908EA9FC668076D170E86BB022B47555%26client_id%3Dhomemobile
      apigw-requestid:
      - btVfagKNjoEEM1A=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/Account/Login?ReturnUrl=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A6787207A324D79A11EC10E77B049848C908EA9FC668076D170E86BB022B47555%26client_id%3Dhomemobile
  response:
    body: {}
    headers:
      Location:
      - /ExternalLogin/Challenge?scheme=cognito-meu&returnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A6787207A324D79A11EC10E77B049848C908EA9FC668076D170E86BB022B47555%26client_id%3Dhomemobile
      apigw-requestid:
      - btVfbhMgDoEEMMA=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/ExternalLogin/Challenge?scheme=cognito-meu&returnUrl=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A6787207A324D79A11EC10E77B049848C908EA9FC668076D170E86BB022B47555%26client_id%3Dhomemobile
  response:
    body: {}
    headers:
      Location:
      - https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/oauth2/authorize?client_id=3g4d5l5kivuqi7oia68[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/oauth2/authorize?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=T496QkC3CmnfliGfwvsAb95ryeMFhhWXIN7YlV8Tjpg&code_challenge_method=S256&response_mode=form_post&nonce=639115968985306551.NDI3ZGUxNWQtYTU0Ni00ZDE3LTk0ZGItM2M1NmI1MmIwMWRiYjczNjUyOTYtYmNkYy00NDZjLThjZDItZDJlMjB[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/login?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=T496QkC3CmnfliGfwvsAb95ryeMFhhWXIN7YlV8Tjpg&code_challenge_method=S256&response_mode=form_post&nonce=639115968985306551.NDI3ZGUxNWQtYTU0Ni00ZDE3LTk0ZGItM2M1NmI1MmIwMWRiYjczNjUyOTYtYmNkYy00NDZjLThjZDItZDJlMjBjMDJkOTI5&state=CfDJ8IRLia7XffNJh2SAFm28gtn8v6KfEEOy_pW4yypAc-9mANJrIP49KjCM7J51WEGFbLceU4--eEo9YL2gsJvTYIu_tB2DghGDCGMhdVZ4563JR6Ee1nRjAIKYH_8WnnqiQ52vk-DHaC_qi13Rs3ODnRyTobH2T4HADfUODDXwDTVgXBapq1xrwhhojMotOSkHl8rR6DQecg7gJ6Rud78iMDjlcb8pv2sFNYyGcuJgH92LuNJCNuRcuuGvaLkP9wExoUWYdb_-zJowezQS-nFvegWRKREO_iILcuCn_DhB0B3MrUPSMcgRFKKfljRkgjBX15rWzl0wtfpNaSF31VjhbQbhTR_YAZwgI5kW1lpUol_qF2OKc_HGJHyZQQ7_40m-SqpyQnsOnH7y_W9MtEGHlfPfzrPBYzjL-gburR74nUZ3QbfBBwL9osBnN_2k7TkbsJLuyphQr6ozt6IYYPzBT5FCiD-ZQeLQ0xegdtt9kZwp9PBQIhtxLO3iLzoXYlgq8v_WY8FyMx5ixjPty7FuZ8lkLt_axu9D5gm3esZYeFbQmT7IML0xqVZbnNJydlCLRWI35zULX9EAIA0NetJzIyNThd0exhEkbbn90de_VVxxmo4FlzNatS2Ia15QzN8Ec111YQ0lY9EjI7qtekbQulYvf8JBYh-_GsN4upb5VC-f&x-client-SKU=ID_NET8_0&x-client-ver=7.1.2.0
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head><head>\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/css/bootstrap.min.css\"
        rel=\"stylesheet\"\n        media=\"screen\" />\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/css/cognito-login.css\"
        rel=\"stylesheet\"\n        media=\"screen\" />\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/eu-west-1_gFEQiVmPM/3g4d5l5kivuqi7oia68gib7uso/20250401160518/assets/CSS/custom-css.css\"
        rel=\"stylesheet\" media=\"screen\" />\n    <title>Signin</title>\n\n    <script
        src=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/js/amazon-cognito-advanced-security-data.min.js\"
        ></script>\n    <script>\n    function getAdvancedSecurityData(formReference)
        {\n        if (typeof AmazonCognitoAdvancedSecurityData === \"undefined\")
        {\n            return true;\n        }\n\n        // UserpoolId is not available
        on frontend for springboard. We do not use userPoolId\n        // anyway other
        than put in context data. \n        var userPoolId = \"\";\n        var clientId
        = getUrlParameter(\"client_id\");\n\n        var username = \"\";\n        var
        use[...]
- request:
    body:
      _csrf: '***REDACTED***'
      cognitoAsfData: ''
      password: '***REDACTED***'
      username: '***REDACTED_EMAIL***'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/login?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=T496QkC3CmnfliGfwvsAb95ryeMFhhWXIN7YlV8Tjpg&code_challenge_method=S256&response_mode=form_post&nonce=639115968985306551.NDI3ZGUxNWQtYTU0Ni00ZDE3LTk0ZGItM2M1N[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/signin-oidc-meu?code=65540629-5008-41cd-9632-09083052bbe5&state=CfDJ8IRLia7XffNJh2SAFm28gtn8v6KfEEOy_pW4yypAc-9mANJrIP49KjCM7J51WEGFbLceU4--eEo9YL2gsJvTYIu_tB2DghGDCGMhdVZ4563JR6Ee1nRjAIKYH_8WnnqiQ52vk-DHaC_qi13Rs3ODnRyTobH2T4HADfUODDXwDTVgXBapq1xrwhhojMotOSkHl8rR6DQecg7gJ6Rud78iMDjlcb8pv2sFNYyGcuJgH92LuNJCNuRcuuGvaLkP9wExoUWYdb_-zJowezQS-nFvegWRKREO_iILcuCn_DhB0B3MrUPSMcgRFKKfljRkgjBX15rWzl0wtfpNaSF31VjhbQbhTR_YAZwgI5kW1lpUol_qF2OKc_HGJHyZQQ7_40m-SqpyQnsOnH7y_W9MtEGHlfPfzrPBYzjL-gburR74nUZ3QbfBBwL9osBnN_2k7TkbsJLuyphQr6ozt6IYYPzBT5FCiD-ZQeLQ0xegdtt9kZwp9PBQIhtxLO3iLzoXYlgq8v_WY8FyMx5ixjPty7FuZ8lkLt_axu9D5gm3esZYeFbQmT7IML0xqVZbnNJydlCLRWI35zULX9EAIA0NetJzIyNThd0exhEkbbn90de_VVxxmo4FlzNatS2Ia15QzN8Ec111YQ0lY9EjI7qtekbQulYvf8JBYh-_GsN4upb5VC-f
  response:
    body: {}
    headers:
      Location:
      - /ExternalLogin/Callback
      apigw-requestid:
      - btVflgtVDoEEMYQ=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/ExternalLogin/Callback
  response:
    body: {}
    headers:
      Location:
      - /Redirect?RedirectUri=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A6787207A324D79A11EC10E77B049848C908EA9FC668076D170E86BB022B47555%26client_id%3Dhomemobile
      apigw-requestid:
      - btVfoiCWDoEEMOQ=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/Redirect?RedirectUri=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A6787207A324D79A11EC10E77B049848C908EA9FC668076D170E86BB022B47555%26client_id%3Dhomemobile
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\"
        />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0, shrink-to-fit=no\"
        />\n\n    <title>MELCloud Home</title>\n    \n    <link rel=\"stylesheet\"
        href=\"/lib/bootstrap/dist/css/bootstrap.min.css\" />\n    <link rel=\"stylesheet\"
        href=\"/lib/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css\" />\n
        \   <link rel=\"stylesheet\" href=\"/css/site.css\" />\n    <link rel=\"stylesheet\"
        href=\"/css/layout.css\" />\n</head>\n<body>\n    \n<header class=\"gs18-Header
        gs18-Header--MinInteraction gs18-Header--NoSearch\" role=\"banner\" data-js-gs18-header>\n
        \   <div class=\"gs18-Header__Inner\" style=\"height:85px\">\n        <a href=\"\"
        style=\"position:absolute;\"><img src=\"/logo_with_name.png\" style=\"height:85px;\"
        alt=\"MITSUBISHI ELECTRIC\"></a>\n        <nav class=\"gs18-HeaderNav\" id=\"navMenu\">\n
        \               <ul class=\"gs18-HeaderNav__Menu\" style=\"width:100%\">\n
        \                   <li class=\"nav-item dropdown gs18-HeaderNav__Item\" style=\"color:black
        !important;\">\n                    <a href=\"#\" class=\"nav-link dropdown-toggle
        gs18-HeaderNav__Text\" data-toggle=\"dropdown\">***REDACTED_EMAIL*** <b class=\"caret\"></b></a>\n\n
        \                   <div class=\"dropdown-menu\">\n                        <a
        class=\"dropdown-item\" href=\"/Account/Logout\">Logout</a>\n                    </div>\n
        \               </li>\n            </ul[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/connect/authorize/callback?request_uri=urn:ietf:params:oauth:request_uri:6787207A324D79A11EC10E77B049848C908EA9FC668076D170E86BB022B47555&client_id=homemobile
  response:
    body:
      string: ''
    headers:
      Location:
      - melcloudhome://?code=C6F9D5F4606E3E2F65906A2F0B5FADDA1DCC383D25FAE7346A3DAC5713E3E4FA-1&scope=openid%20profile%20email%20offline_access%20IdentityServerApi&state=oK1XfnZKChh7Sf_OFUA_iQ&session_state=j9tva1ykcwnN84GVX-lJ_N4TxXvfk417fJCbl_4SUt4.8C6EA904104E7A50A344E2108CB50330&iss=https%3A%2F%2Fauth.melcloudhome.com
      apigw-requestid:
      - btVfphgcjoEEMpA=
    status:
      code: 302
      message: Found
- request:
    body:
      client_id: homemobile
      code: '***REDACTED***'
      code_verifier: '***REDACTED***'
      grant_type: authorization_code
      redirect_uri: melcloudhome://
    headers:
    method: POST
    uri: https://auth.melcloudhome.com/connect/token
  response:
    body:
      string: '{"id_token":"***REDACTED***","access_token":"***REDACTED***","expires_in":3600,"token_type":"Bearer","refresh_token":"***REDACTED***","scope":"openid
        profile email offline_access IdentityServerApi"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      apigw-requestid:
      - btVfqgXrDoEEMVw=
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - '***REDACTED***'
    method: GET
    uri: https://mobile.bff.melcloudhome.com/telemetry/telemetry/actual/aaaaaaaa-aaaa-aaaa-aaaa-98d77a4b9665?from=2026-01-14+12:00&to=2026-01-14+16:00&measure=rssi
  response:
    body:
      string: '{"measureData":[{"deviceId":"aaaaaaaa-aaaa-aaaa-aaaa-98d77a4b9665","type":"rssi","values":[{"time":"2026-01-14
        10:36:44.091000000","value":"-48"},{"time":"2026-01-14 12:42:44.142000000","value":"-49"},{"time":"2026-01-14
        12:44:43.832000000","value":"-48"},{"time":"2026-01-14 13:12:43.957000000","value":"-49"},{"time":"2026-01-14
        13:14:43.414000000","value":"-48"},{"time":"2026-01-14 14:06:43.482000000","value":"-49"},{"time":"2026-01-14
        14:08:43.978000000","value":"-48"},{"time":"2026-01-14 15:28:43.880000000","value":"-49"},{"time":"2026-01-14
        15:30:43.509000000","value":"-48"},{"time":"2026-01-14 15:34:43.564000000","value":"-49"},{"time":"2026-01-14
        15:38:43.798000000","value":"-48"},{"time":"2026-01-14 15:42:43.840000000","value":"-49"},{"time":"2026-01-14
        15:44:43.416000000","value":"-48"}]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"329-5WXB6/X9mFeIt2UbOw4kgowT4PM"
      apigw-requestid:
      - btVfrjKmDoEEJFQ=
      origin-agent-cluster:
      - ?1
    status:
      code: 200
      message: OK
version: 1
