interactions:
- request:
    body:
      client_id: homemobile
      code_challenge: GWTCg0JxHH_6o0UvYbKXQdvds2lmmWPgYusWJeR01Io
      code_challenge_method: S256
      redirect_uri: melcloudhome://
      response_type: code
      scope: openid profile email offline_access IdentityServerApi
      state: oK1XfnZKChh7Sf_OFUA_iQ
    headers:
    method: POST
    uri: https://auth.melcloudhome.com/connect/par
  response:
    body:
      string: '{"request_uri":"urn:ietf:params:oauth:request_uri:C3EBD6D63368D7968B638D6697ABBC16CE8F753DEB2D1FE6A653DD16F9C05B49","expires_in":600}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      apigw-requestid:
      - Cmiq8jjxjoEEJQg=
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/connect/authorize?client_id=homemobile&request_uri=urn:ietf:params:oauth:request_uri:C3EBD6D63368D7968B638D6697ABBC16CE8F753DEB2D1FE6A653DD16F9C05B49
  response:
    body: {}
    headers:
      Location:
      - https://auth.melcloudhome.com/Account/Login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AC3EBD6D63368D7968B638D6697ABBC16CE8F753DEB2D1FE6A653DD16F9C05B49%26client_id%3Dhomemobile
      apigw-requestid:
      - Cmiq9hu0joEEJNw=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/Account/Login?ReturnUrl=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AC3EBD6D63368D7968B638D6697ABBC16CE8F753DEB2D1FE6A653DD16F9C05B49%26client_id%3Dhomemobile
  response:
    body: {}
    headers:
      Location:
      - /ExternalLogin/Challenge?scheme=cognito-meu&returnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AC3EBD6D63368D7968B638D6697ABBC16CE8F753DEB2D1FE6A653DD16F9C05B49%26client_id%3Dhomemobile
      apigw-requestid:
      - Cmiq9gW5joEEJ_A=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/ExternalLogin/Challenge?scheme=cognito-meu&returnUrl=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AC3EBD6D63368D7968B638D6697ABBC16CE8F753DEB2D1FE6A653DD16F9C05B49%26client_id%3Dhomemobile
  response:
    body: {}
    headers:
      Location:
      - https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/oauth2/authorize?client_id=3g4d5l5kivuqi7oia68[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/oauth2/authorize?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=IOq059la1hGT6Ni0bL8H3RdLlPSf9TQK0CFchQvwX9Y&code_challenge_method=S256&response_mode=form_post&nonce=639231628473378416.ZjFiODg0YzctYzNlYS00NjdjLThhZjctNzcyMDcxZWRlMzZkMWZkN2JlM2YtNWJmMi00NTY0LTk1NjctNzg5OWR[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/login?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=IOq059la1hGT6Ni0bL8H3RdLlPSf9TQK0CFchQvwX9Y&code_challenge_method=S256&response_mode=form_post&nonce=639231628473378416.ZjFiODg0YzctYzNlYS00NjdjLThhZjctNzcyMDcxZWRlMzZkMWZkN2JlM2YtNWJmMi00NTY0LTk1NjctNzg5OWRhZjRhZDVl&state=CfDJ8I9HYxO_M3FJmqyQy6voCjITwkChibjPfJpNpzng-fD_QJeKIMwP1mM1fbSTEhgtliu346mD4Qi1yrz2ioHlKf1uCZqEKwpuiD9TWUQfCdRDMGVVQQnCSCwFwBXQXZQ5uZWL2MMQwDPjhTzBv5ywNYmSPEL21fdt8X-235LlLWj9wFmBrq2yKjOP3lzmS9huWhRobqyZyzx_sTEkJRzOuTLLr1rP_PavkD8qd_Klsb3zk8mFa0XRZYGVW7p1NFKXz6Y7OE6S5tU5AylhOfQ3pHWsx76nAlI0nNMHt0cReoFp-BEBumJnnTt7tCCRUDw_APMt8T4utRl99mhif5sAA4tVMdnUwNWR6Z-AaGxxqE3uX3Hh1tfMGcVX9MJ4gPA8m_cLZRb90P0uPYYy8CZJ8Ky-wIiA4xKVfbwI-LuH-mH8MJAgcVlPZ5p71Q0uh_9mrqesqaX_mn79NyawV2QrEVrHN9rB7e6zLS2sykLK6EhqNxxQohAG0m8BuHEiJyXNVE1I4doN1Kw-MaUp60A57A3spkPWe85IZgE-IuXVHBXAH8uHQ4Qm0xl-TMxcRPw5vNBt7hBZG0kpFPcM9rd5GisBvQEJ52QLvh93r4Y2kQYzz6SoWlfY8OOjz3KWt6-LzmyDQnssou58rntjDVB46JFgHfmww8i2Eu4DnKkrTGBs&x-client-SKU=ID_NET8_0&x-client-ver=7.1.2.0
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head><head>\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/css/bootstrap.min.css\"
        rel=\"stylesheet\"\n        media=\"screen\" />\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/css/cognito-login.css\"
        rel=\"stylesheet\"\n        media=\"screen\" />\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/eu-west-1_gFEQiVmPM/3g4d5l5kivuqi7oia68gib7uso/20250401160518/assets/CSS/custom-css.css\"
        rel=\"stylesheet\" media=\"screen\" />\n    <title>Signin</title>\n\n    <script
        src=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/js/amazon-cognito-advanced-security-data.min.js\"
        ></script>\n    <script>\n    function getAdvancedSecurityData(formReference)
        {\n        if (typeof AmazonCognitoAdvancedSecurityData === \"undefined\")
        {\n            return true;\n        }\n\n        // UserpoolId is not available
        on frontend for springboard. We do not use userPoolId\n        // anyway other
        than put in context data. \n        var userPoolId = \"\";\n        var clientId
        = getUrlParameter(\"client_id\");\n\n        var username = \"\";\n        var
        use[...]
- request:
    body:
      _csrf: '***REDACTED***'
      cognitoAsfData: ''
      password: '***REDACTED***'
      username: '***REDACTED_EMAIL***'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/login?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=IOq059la1hGT6Ni0bL8H3RdLlPSf9TQK0CFchQvwX9Y&code_challenge_method=S256&response_mode=form_post&nonce=639231628473378416.ZjFiODg0YzctYzNlYS00NjdjLThhZjctNzcyM[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/signin-oidc-meu?code=dd7326f4-c58e-4978-b7fa-263bfb941142&state=CfDJ8I9HYxO_M3FJmqyQy6voCjITwkChibjPfJpNpzng-fD_QJeKIMwP1mM1fbSTEhgtliu346mD4Qi1yrz2ioHlKf1uCZqEKwpuiD9TWUQfCdRDMGVVQQnCSCwFwBXQXZQ5uZWL2MMQwDPjhTzBv5ywNYmSPEL21fdt8X-235LlLWj9wFmBrq2yKjOP3lzmS9huWhRobqyZyzx_sTEkJRzOuTLLr1rP_PavkD8qd_Klsb3zk8mFa0XRZYGVW7p1NFKXz6Y7OE6S5tU5AylhOfQ3pHWsx76nAlI0nNMHt0cReoFp-BEBumJnnTt7tCCRUDw_APMt8T4utRl99mhif5sAA4tVMdnUwNWR6Z-AaGxxqE3uX3Hh1tfMGcVX9MJ4gPA8m_cLZRb90P0uPYYy8CZJ8Ky-wIiA4xKVfbwI-LuH-mH8MJAgcVlPZ5p71Q0uh_9mrqesqaX_mn79NyawV2QrEVrHN9rB7e6zLS2sykLK6EhqNxxQohAG0m8BuHEiJyXNVE1I4doN1Kw-MaUp60A57A3spkPWe85IZgE-IuXVHBXAH8uHQ4Qm0xl-TMxcRPw5vNBt7hBZG0kpFPcM9rd5GisBvQEJ52QLvh93r4Y2kQYzz6SoWlfY8OOjz3KWt6-LzmyDQnssou58rntjDVB46JFgHfmww8i2Eu4DnKkrTGBs
  response:
    body: {}
    headers:
      Location:
      - /ExternalLogin/Callback
      apigw-requestid:
      - CmirFipSjoEEJfA=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/ExternalLogin/Callback
  response:
    body: {}
    headers:
      Location:
      - /Redirect?RedirectUri=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AC3EBD6D63368D7968B638D6697ABBC16CE8F753DEB2D1FE6A653DD16F9C05B49%26client_id%3Dhomemobile
      apigw-requestid:
      - CmirHg86DoEEJHA=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/Redirect?RedirectUri=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AC3EBD6D63368D7968B638D6697ABBC16CE8F753DEB2D1FE6A653DD16F9C05B49%26client_id%3Dhomemobile
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\"
        />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0, shrink-to-fit=no\"
        />\n\n    <title>MELCloud Home</title>\n\n    <link rel=\"stylesheet\" href=\"/lib/bootstrap/dist/css/bootstrap.min.css\"
        />\n    <link rel=\"stylesheet\" href=\"/lib/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css\"
        />\n    <link rel=\"stylesheet\" href=\"/css/site.css\" />\n    <link rel=\"stylesheet\"
        href=\"/css/layout.css\" />\n\n    \n</head>\n<body>\n    \n<header class=\"gs18-Header
        gs18-Header--MinInteraction gs18-Header--NoSearch\" role=\"banner\" data-js-gs18-header>\n
        \   <div class=\"gs18-Header__Inner\" style=\"height:85px\">\n        <a href=\"\"
        style=\"position:absolute;\"><img src=\"/logo_with_name.png\" style=\"height:85px;\"
        alt=\"MITSUBISHI ELECTRIC\"></a>\n        <nav class=\"gs18-HeaderNav\" id=\"navMenu\">\n
        \               <ul class=\"gs18-HeaderNav__Menu\" style=\"width:100%\">\n
        \                   <li class=\"nav-item dropdown gs18-HeaderNav__Item\" style=\"color:black
        !important;\">\n                    <a href=\"#\" class=\"nav-link dropdown-toggle
        gs18-HeaderNav__Text\" data-toggle=\"dropdown\">***REDACTED_EMAIL*** <b class=\"caret\"></b></a>\n\n
        \                   <div class=\"dropdown-menu\">\n                        <a
        class=\"dropdown-item\" href=\"/Account/Logout\">Logout</a>\n                    </div>\n
        \               </li>\n            </ul[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/connect/authorize/callback?request_uri=urn:ietf:params:oauth:request_uri:C3EBD6D63368D7968B638D6697ABBC16CE8F753DEB2D1FE6A653DD16F9C05B49&client_id=homemobile
  response:
    body:
      string: ''
    headers:
      Location:
      - melcloudhome://?code=06C84BAF172920FB06A37E3E346134FC63D46148B8DC5A69BFB60A519CF235A3-1&scope=openid%20profile%20email%20offline_access%20IdentityServerApi&state=oK1XfnZKChh7Sf_OFUA_iQ&session_state=fPrRuAVGNT12YpsDilHQsEZbRRZmYG3R_pyIK2pbGVg.ED26BFFECB85D02E3380D692249F77F5&iss=https%3A%2F%2Fauth.melcloudhome.com
      apigw-requestid:
      - CmirIic8DoEEJUQ=
    status:
      code: 302
      message: Found
- request:
    body:
      client_id: homemobile
      code: '***REDACTED***'
      code_verifier: '***REDACTED***'
      grant_type: authorization_code
      redirect_uri: melcloudhome://
    headers:
    method: POST
    uri: https://auth.melcloudhome.com/connect/token
  response:
    body:
      string: '{"id_token":"***REDACTED***","access_token":"***REDACTED***","expires_in":3600,"token_type":"Bearer","refresh_token":"***REDACTED***","scope":"openid
        profile email offline_access IdentityServerApi"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      apigw-requestid:
      - CmirJhWFDoEEJ2A=
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - '***REDACTED***'
    method: GET
    uri: https://mobile.bff.melcloudhome.com/context
  response:
    body:
      string: '{"id":"aaaaaaaa-aaaa-aaaa-aaaa-e02c4382eb85","firstname":"***REDACTED***","lastname":"***REDACTED***","email":"***REDACTED_EMAIL***","language":"en","country":"GB","numberOfDevicesAllowed":10,"numberOfBuildingsAllowed":2,"numberOfGuestUsersAllowedPerUnit":5,"numberOfGuestDevicesAllowed":10,"buildings":[],"guestBuildings":[{"id":"aaaaaaaa-aaaa-aaaa-aaaa-f90937ac0297","name":"***REDACTED_BUILDING***","timezone":"Europe/London","airToAirUnits":[{"unitSettings":null,"schedule":[],"scheduleEnabled":true,"connectedInterfaceIdentifier":"***REDACTED_MAC***","capabilities":{"isMultiSplitSystem":true,"isLegacyDevice":false,"hasStandby":true,"hasCoolOperationMode":true,"hasHeatOperationMode":true,"hasAutoOperationMode":true,"hasDryOperationMode":true,"hasAutomaticFanSpeed":true,"hasAirDirection":true,"hasSwing":true,"hasExtendedTemperatureRange":true,"hasEnergyConsumedMeter":true,"numberOfFanSpeeds":5,"minTempCoolDry":16,"maxTempCoolDry":31,"minTempHeat":10,"maxTempHeat":31,"minTempAutomatic":16,"maxTempAutomatic":31,"hasDemandSideControl":true,"hasHalfDegreeIncrements":true,"supportsWideVane":false},"frostProtection":{"active":false,"enabled":true,"min":10,"max":12},"overheatProtection":{"active":false,"enabled":false,"min":35,"max":37},"holidayMode":{"enabled":false,"startDate":"2026-07-28T07:44:00.966","endDate":"2026-07-28T07:44:00","active":false},"connectedInterfaceType":"fourthGenWifi","systemId":null,"id":"aaaaaaaa-aaaa-aaaa-aaaa-4c6fd61ac825","givenDisplayName":"***REDACTED_DEVICE***","displayIcon":"DiningRoom","settings":[{"name":"RoomTemperature","value":"20.5"},{"name":"Power","value":"True"},{"name":"OperationMode","value":"Cool"},{"name":"ActualFanSpeed","value":"Two"},{"name":"SetFanSpeed","value":"Auto"},{"name":"VaneHorizontalDirection","value":"Swing"},{"name":"VaneVerticalDirection","value":"Five"},{"name":"InStandbyMode","value":"False"},{"name":"SetTemperature","value":"20"},{"name":"IsInError","value":"False"},{"name":"ErrorCode","value":""}],"timeZone":"Europe/London","rssi":-39,"isConnected":true,"isInError":false},{"unitSettings":null,"schedule":[],"scheduleEnabled":false,"connectedInterfaceIdentifier":"***REDACTED_MAC***","capabilities":{"isMultiSplitSystem":true,"isLegacyDevice":false,"hasStandby":true,"hasCoolOperationMode":true,"hasHeatOperationMode":true,"hasAutoOperationMode":true,"hasDryOperationMode":true,"hasAutomaticFanSpeed":true,"hasAirDirection":true,"hasSwing":true,"hasExtendedTemperatureRange":true,"hasEnergyConsumedMeter":true,"numberOfFanSpeeds":5,"minTempCoolDry":16,"maxTempCoolDr[...]
- request:
    body: null
    headers:
      authorization:
      - '***REDACTED***'
    method: GET
    uri: https://mobile.bff.melcloudhome.com/report/v1/internaltemperatures?unitId=aaaaaaaa-aaaa-aaaa-aaaa-6b6529f39911&period=Hourly&from=2026-08-22T22:00:00.0000000Z&to=2026-08-23T06:00:00.0000000Z
  response:
    body:
      string: '[{"reportPeriod":"hourly","datasets":[{"id":"set_tank_water_temperature","label":"REPORT.INTEMP_REPORT.DATASET.LABELS.SET_TANK_TEMPERATURE","data":[{"x":"2026-08-23T00:00:00","y":50},{"x":"2026-08-23T01:00:00","y":50},{"x":"2026-08-23T02:00:00","y":50},{"x":"2026-08-23T03:00:00","y":50},{"x":"2026-08-23T04:00:00","y":50},{"x":"2026-08-23T05:00:00","y":50},{"x":"2026-08-23T06:00:00","y":50},{"x":"2026-08-23T07:00:00","y":50},{"x":"2026-08-23T08:00:00","y":50}],"backgroundColor":"#EEDD11","borderColor":"#EEDD11","yAxisId":"yTemp","pointRadius":0,"lineTension":0,"borderWidth":2,"stepped":true,"spanGaps":false,"isNonInteractive":false,"hidden":false},{"id":"tank_water_temperature","label":"REPORT.INTEMP_REPORT.DATASET.LABELS.TANK_TEMPERATURE","data":[{"x":"2026-08-23T00:55:16","y":49.5},{"x":"2026-08-23T00:56:15","y":50},{"x":"2026-08-23T00:59:16","y":49.5},{"x":"2026-08-23T01:00:00","y":49.5},{"x":"2026-08-23T02:00:00","y":49.5},{"x":"2026-08-23T02:32:15","y":49},{"x":"2026-08-23T03:00:00","y":49},{"x":"2026-08-23T04:00:00","y":49},{"x":"2026-08-23T04:26:16","y":48.5},{"x":"2026-08-23T05:00:00","y":48.5},{"x":"2026-08-23T06:00:00","y[...]
