interactions:
- request:
    body:
      client_id: homemobile
      code_challenge: GWTCg0JxHH_6o0UvYbKXQdvds2lmmWPgYusWJeR01Io
      code_challenge_method: S256
      redirect_uri: melcloudhome://
      response_type: code
      scope: openid profile email offline_access IdentityServerApi
      state: oK1XfnZKChh7Sf_OFUA_iQ
    headers:
    method: POST
    uri: https://auth.melcloudhome.com/connect/par
  response:
    body:
      string: '{"request_uri":"urn:ietf:params:oauth:request_uri:8EC94ED2A8C000C939005D429AB291B7AA5CA09E7E0C19EB5612997CD284D0E9","expires_in":600}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      apigw-requestid:
      - btVeCjWHDoEEM0g=
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/connect/authorize?client_id=homemobile&request_uri=urn:ietf:params:oauth:request_uri:8EC94ED2A8C000C939005D429AB291B7AA5CA09E7E0C19EB5612997CD284D0E9
  response:
    body: {}
    headers:
      Location:
      - https://auth.melcloudhome.com/Account/Login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A8EC94ED2A8C000C939005D429AB291B7AA5CA09E7E0C19EB5612997CD284D0E9%26client_id%3Dhomemobile
      apigw-requestid:
      - btVeDhO7DoEEM4g=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/Account/Login?ReturnUrl=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A8EC94ED2A8C000C939005D429AB291B7AA5CA09E7E0C19EB5612997CD284D0E9%26client_id%3Dhomemobile
  response:
    body: {}
    headers:
      Location:
      - /ExternalLogin/Challenge?scheme=cognito-meu&returnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A8EC94ED2A8C000C939005D429AB291B7AA5CA09E7E0C19EB5612997CD284D0E9%26client_id%3Dhomemobile
      apigw-requestid:
      - btVeDgxGDoEEMHw=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/ExternalLogin/Challenge?scheme=cognito-meu&returnUrl=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A8EC94ED2A8C000C939005D429AB291B7AA5CA09E7E0C19EB5612997CD284D0E9%26client_id%3Dhomemobile
  response:
    body: {}
    headers:
      Location:
      - https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/oauth2/authorize?client_id=3g4d5l5kivuqi7oia68[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/oauth2/authorize?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=AoCxl63vevXVhW3NdWYmpHQB_-eLLwxFUcE4RvzS0kY&code_challenge_method=S256&response_mode=form_post&nonce=639115968896201838.NWNkMzc5OTYtNmZiYi00NjQ2LTlhODktMDJkMDY1Njc1OGUwNmY3ZDM5YmQtNDU2MC00ZTgwLTkxYWUtMTA2M2M[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/login?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=AoCxl63vevXVhW3NdWYmpHQB_-eLLwxFUcE4RvzS0kY&code_challenge_method=S256&response_mode=form_post&nonce=639115968896201838.NWNkMzc5OTYtNmZiYi00NjQ2LTlhODktMDJkMDY1Njc1OGUwNmY3ZDM5YmQtNDU2MC00ZTgwLTkxYWUtMTA2M2M0NzYwNDky&state=CfDJ8IRLia7XffNJh2SAFm28gtnyyn2EVHVGpyQXpYIK2mzPA8qexyQoAwmXHneZczgYuC50dBVQTjbyUYeFc1TARKr1LsPkMPqA_yHhZEeHpk7ZYhYdWZ0rVMv8hWUpQgUtNz38HLrc0FIpx-O1_tkzL1BzyhqUkMIDFwUjN8ACzAYRQMB801mMaG0Efe-rQ_dYUy6mKb2GB9tC_f479AwSH-ditNeprbosdLJM7jBkD9ee3pwFK4CGsUq-Dp01r-FC2-2tV5OSjYxD8kej-ckDthgu_UVcY3Sr517KKwcb3I9JesTaVxP7ImayPijTqKCzYJAevNOie9K9oqyTaTO5nL02UlW5bliChWbMifnuTxHDo-dMBYbK1mN7_spYgGnKQGFiRR4nLzwI-ashUT9NFYDgX-qYbO1LAzPcb5ZAO-jleA1Nslit60Np3L69Yy1_ULOYhnAUK0f5W3bVkj3b_mAfvxse3eav4E3WCxulG4gKPn9wD2clwJQAny1MLuWafrDOS0YVOyGSoeeOyDzVl-V9z9jWEtL4Io-amZOqzvncSp63fICcxyGQkaccPu69A8YZCPhFdzPYqgyXaRogvmrPjtaViXNRkpu2lE_FNZQnjm5wP936WlS6iILGWdTuhsSUvkbRtZvX0HY7XRLKV3I6sslgA8_QQuH91j0YN6el&x-client-SKU=ID_NET8_0&x-client-ver=7.1.2.0
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head><head>\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/css/bootstrap.min.css\"
        rel=\"stylesheet\"\n        media=\"screen\" />\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/css/cognito-login.css\"
        rel=\"stylesheet\"\n        media=\"screen\" />\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/eu-west-1_gFEQiVmPM/3g4d5l5kivuqi7oia68gib7uso/20250401160518/assets/CSS/custom-css.css\"
        rel=\"stylesheet\" media=\"screen\" />\n    <title>Signin</title>\n\n    <script
        src=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/js/amazon-cognito-advanced-security-data.min.js\"
        ></script>\n    <script>\n    function getAdvancedSecurityData(formReference)
        {\n        if (typeof AmazonCognitoAdvancedSecurityData === \"undefined\")
        {\n            return true;\n        }\n\n        // UserpoolId is not available
        on frontend for springboard. We do not use userPoolId\n        // anyway other
        than put in context data. \n        var userPoolId = \"\";\n        var clientId
        = getUrlParameter(\"client_id\");\n\n        var username = \"\";\n        var
        use[...]
- request:
    body:
      _csrf: '***REDACTED***'
      cognitoAsfData: ''
      password: '***REDACTED***'
      username: '***REDACTED_EMAIL***'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/login?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=AoCxl63vevXVhW3NdWYmpHQB_-eLLwxFUcE4RvzS0kY&code_challenge_method=S256&response_mode=form_post&nonce=639115968896201838.NWNkMzc5OTYtNmZiYi00NjQ2LTlhODktMDJkM[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/signin-oidc-meu?code=2dea3bec-237c-4606-a230-c715c27b15f6&state=CfDJ8IRLia7XffNJh2SAFm28gtnyyn2EVHVGpyQXpYIK2mzPA8qexyQoAwmXHneZczgYuC50dBVQTjbyUYeFc1TARKr1LsPkMPqA_yHhZEeHpk7ZYhYdWZ0rVMv8hWUpQgUtNz38HLrc0FIpx-O1_tkzL1BzyhqUkMIDFwUjN8ACzAYRQMB801mMaG0Efe-rQ_dYUy6mKb2GB9tC_f479AwSH-ditNeprbosdLJM7jBkD9ee3pwFK4CGsUq-Dp01r-FC2-2tV5OSjYxD8kej-ckDthgu_UVcY3Sr517KKwcb3I9JesTaVxP7ImayPijTqKCzYJAevNOie9K9oqyTaTO5nL02UlW5bliChWbMifnuTxHDo-dMBYbK1mN7_spYgGnKQGFiRR4nLzwI-ashUT9NFYDgX-qYbO1LAzPcb5ZAO-jleA1Nslit60Np3L69Yy1_ULOYhnAUK0f5W3bVkj3b_mAfvxse3eav4E3WCxulG4gKPn9wD2clwJQAny1MLuWafrDOS0YVOyGSoeeOyDzVl-V9z9jWEtL4Io-amZOqzvncSp63fICcxyGQkaccPu69A8YZCPhFdzPYqgyXaRogvmrPjtaViXNRkpu2lE_FNZQnjm5wP936WlS6iILGWdTuhsSUvkbRtZvX0HY7XRLKV3I6sslgA8_QQuH91j0YN6el
  response:
    body: {}
    headers:
      Location:
      - /ExternalLogin/Callback
      apigw-requestid:
      - btVeKiDbjoEEMRw=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/ExternalLogin/Callback
  response:
    body: {}
    headers:
      Location:
      - /Redirect?RedirectUri=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A8EC94ED2A8C000C939005D429AB291B7AA5CA09E7E0C19EB5612997CD284D0E9%26client_id%3Dhomemobile
      apigw-requestid:
      - btVeMi3jjoEEMBQ=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/Redirect?RedirectUri=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A8EC94ED2A8C000C939005D429AB291B7AA5CA09E7E0C19EB5612997CD284D0E9%26client_id%3Dhomemobile
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\"
        />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0, shrink-to-fit=no\"
        />\n\n    <title>MELCloud Home</title>\n    \n    <link rel=\"stylesheet\"
        href=\"/lib/bootstrap/dist/css/bootstrap.min.css\" />\n    <link rel=\"stylesheet\"
        href=\"/lib/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css\" />\n
        \   <link rel=\"stylesheet\" href=\"/css/site.css\" />\n    <link rel=\"stylesheet\"
        href=\"/css/layout.css\" />\n</head>\n<body>\n    \n<header class=\"gs18-Header
        gs18-Header--MinInteraction gs18-Header--NoSearch\" role=\"banner\" data-js-gs18-header>\n
        \   <div class=\"gs18-Header__Inner\" style=\"height:85px\">\n        <a href=\"\"
        style=\"position:absolute;\"><img src=\"/logo_with_name.png\" style=\"height:85px;\"
        alt=\"MITSUBISHI ELECTRIC\"></a>\n        <nav class=\"gs18-HeaderNav\" id=\"navMenu\">\n
        \               <ul class=\"gs18-HeaderNav__Menu\" style=\"width:100%\">\n
        \                   <li class=\"nav-item dropdown gs18-HeaderNav__Item\" style=\"color:black
        !important;\">\n                    <a href=\"#\" class=\"nav-link dropdown-toggle
        gs18-HeaderNav__Text\" data-toggle=\"dropdown\">***REDACTED_EMAIL*** <b class=\"caret\"></b></a>\n\n
        \                   <div class=\"dropdown-menu\">\n                        <a
        class=\"dropdown-item\" href=\"/Account/Logout\">Logout</a>\n                    </div>\n
        \               </li>\n            </ul[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/connect/authorize/callback?request_uri=urn:ietf:params:oauth:request_uri:8EC94ED2A8C000C939005D429AB291B7AA5CA09E7E0C19EB5612997CD284D0E9&client_id=homemobile
  response:
    body:
      string: ''
    headers:
      Location:
      - melcloudhome://?code=EC22CB07D00310E13D7BCD1486F1A6D54244F9267F4FF02B49DD9ADBE706CE13-1&scope=openid%20profile%20email%20offline_access%20IdentityServerApi&state=oK1XfnZKChh7Sf_OFUA_iQ&session_state=GlP21c_8RVVRpDeceXiuqTytN8erzqDr-WtZofFpR1g.C9A60A8AD17968D53B36684343DBDA19&iss=https%3A%2F%2Fauth.melcloudhome.com
      apigw-requestid:
      - btVeOhhZDoEEMOQ=
    status:
      code: 302
      message: Found
- request:
    body:
      client_id: homemobile
      code: '***REDACTED***'
      code_verifier: '***REDACTED***'
      grant_type: authorization_code
      redirect_uri: melcloudhome://
    headers:
    method: POST
    uri: https://auth.melcloudhome.com/connect/token
  response:
    body:
      string: '{"id_token":"***REDACTED***","access_token":"***REDACTED***","expires_in":3600,"token_type":"Bearer","refresh_token":"***REDACTED***","scope":"openid
        profile email offline_access IdentityServerApi"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      apigw-requestid:
      - btVePjFojoEEMuQ=
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - '***REDACTED***'
    method: GET
    uri: https://mobile.bff.melcloudhome.com/telemetry/telemetry/actual/aaaaaaaa-aaaa-aaaa-aaaa-98d77a4b9665?from=2026-01-14+12:00&to=2026-01-14+16:00&measure=return_temperature_zone1
  response:
    body:
      string: '{"measureData":[{"deviceId":"aaaaaaaa-aaaa-aaaa-aaaa-98d77a4b9665","type":"returnTemperatureZone1","values":[]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"71-rO6UwWzFcWJky7nmjelJNc5ECxI"
      apigw-requestid:
      - btVeRh8mDoEEJxA=
      origin-agent-cluster:
      - ?1
    status:
      code: 200
      message: OK
version: 1
