interactions:
- request:
    body:
      client_id: homemobile
      code_challenge: GWTCg0JxHH_6o0UvYbKXQdvds2lmmWPgYusWJeR01Io
      code_challenge_method: S256
      redirect_uri: melcloudhome://
      response_type: code
      scope: openid profile email offline_access IdentityServerApi
      state: oK1XfnZKChh7Sf_OFUA_iQ
    headers:
    method: POST
    uri: https://auth.melcloudhome.com/connect/par
  response:
    body:
      string: '{"request_uri":"urn:ietf:params:oauth:request_uri:AA822E6562472B87575FFC76463DF08FED1545B29ECC7F557918BFB0E0F8A1C2","expires_in":600}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      apigw-requestid:
      - btVWxgttjoEEMwA=
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/connect/authorize?client_id=homemobile&request_uri=urn:ietf:params:oauth:request_uri:AA822E6562472B87575FFC76463DF08FED1545B29ECC7F557918BFB0E0F8A1C2
  response:
    body: {}
    headers:
      Location:
      - https://auth.melcloudhome.com/Account/Login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AAA822E6562472B87575FFC76463DF08FED1545B29ECC7F557918BFB0E0F8A1C2%26client_id%3Dhomemobile
      apigw-requestid:
      - btVWyiKpDoEEMJA=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/Account/Login?ReturnUrl=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AAA822E6562472B87575FFC76463DF08FED1545B29ECC7F557918BFB0E0F8A1C2%26client_id%3Dhomemobile
  response:
    body: {}
    headers:
      Location:
      - /ExternalLogin/Challenge?scheme=cognito-meu&returnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AAA822E6562472B87575FFC76463DF08FED1545B29ECC7F557918BFB0E0F8A1C2%26client_id%3Dhomemobile
      apigw-requestid:
      - btVWyjpIDoEEMgA=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/ExternalLogin/Challenge?scheme=cognito-meu&returnUrl=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AAA822E6562472B87575FFC76463DF08FED1545B29ECC7F557918BFB0E0F8A1C2%26client_id%3Dhomemobile
  response:
    body: {}
    headers:
      Location:
      - https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/oauth2/authorize?client_id=3g4d5l5kivuqi7oia68[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/oauth2/authorize?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=Z-n6D3D7VLIzr5g1pinVAYeQVGT5vhaf_adA3wzDt9Q&code_challenge_method=S256&response_mode=form_post&nonce=639115968431645721.MWU4NzMxODctZTU0Zi00MjQ3LTg3ZDUtNDQ3MjA0NTg3MTZjOGY4ZDE0Y2EtMjY5NC00MDA1LWFlN2UtZmU0MjE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/login?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=Z-n6D3D7VLIzr5g1pinVAYeQVGT5vhaf_adA3wzDt9Q&code_challenge_method=S256&response_mode=form_post&nonce=639115968431645721.MWU4NzMxODctZTU0Zi00MjQ3LTg3ZDUtNDQ3MjA0NTg3MTZjOGY4ZDE0Y2EtMjY5NC00MDA1LWFlN2UtZmU0MjE2N2I1NmVl&state=CfDJ8IRLia7XffNJh2SAFm28gtlPoIAVlw1DzLBGZyWpuaBKWpqqInPpBZwqzNnvtcZSpkBy8EeKF-Huo5I3G7MRB16yxmEcgl9Fs7aj2y2fwgk31K79sel752loryPr8Rnrn3vHbiDkOcSm59mX_W9GQtTeCMWtmqRduxcI_QIXEiGOEqNQ9_KBGfxt1o_6sTCMO-EMmQfs3cudtTOhuqiyfL5ephBgJpOH1KuhCdGpxjxxM1x0d45AsMyagVsgiFX9wbtjxDNG-MfVBUnZKH8yqQsvGTrfzdRTXWLcLqGiRbZvAlEz5xwzfaQEYb2eRHJiU6-kvi9a6silcKZ1RftmXQLdTu9fHTqX8Bhn2CvTQWbQbqHZSs0kAHdf5wFZ6hWzFvAMQsFCEN0d3Fx0WAmFjmSKsdjg7B9lWpUE0LXj5gto-vSJbitE9NBlxA93fAiLPsHV4leO6GIrOBtYLlouw7PSCjD_6GbhhkpJ5fFa3yd6oqrB6776i-wgR9CHYD1Fz4SCH2CelPX57eRurmKbqKyOXeo9g-h5WUo88EHGSdv35wswiKTMIgFNylrBAKwkn2Fq1l8ut5kGGIbDINeNDpUpmNgAgLkwpfN061d5zzYM31-GfKaUifB_pYcTFaLGR928P-mZUKo4yTcUM7rAE1aYqHFUJVv8-frsZu4Fh-VC&x-client-SKU=ID_NET8_0&x-client-ver=7.1.2.0
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head><head>\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/css/bootstrap.min.css\"
        rel=\"stylesheet\"\n        media=\"screen\" />\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/css/cognito-login.css\"
        rel=\"stylesheet\"\n        media=\"screen\" />\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/eu-west-1_gFEQiVmPM/3g4d5l5kivuqi7oia68gib7uso/20250401160518/assets/CSS/custom-css.css\"
        rel=\"stylesheet\" media=\"screen\" />\n    <title>Signin</title>\n\n    <script
        src=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/js/amazon-cognito-advanced-security-data.min.js\"
        ></script>\n    <script>\n    function getAdvancedSecurityData(formReference)
        {\n        if (typeof AmazonCognitoAdvancedSecurityData === \"undefined\")
        {\n            return true;\n        }\n\n        // UserpoolId is not available
        on frontend for springboard. We do not use userPoolId\n        // anyway other
        than put in context data. \n        var userPoolId = \"\";\n        var clientId
        = getUrlParameter(\"client_id\");\n\n        var username = \"\";\n        var
        use[...]
- request:
    body:
      _csrf: '***REDACTED***'
      cognitoAsfData: ''
      password: '***REDACTED***'
      username: '***REDACTED_EMAIL***'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/login?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=Z-n6D3D7VLIzr5g1pinVAYeQVGT5vhaf_adA3wzDt9Q&code_challenge_method=S256&response_mode=form_post&nonce=639115968431645721.MWU4NzMxODctZTU0Zi00MjQ3LTg3ZDUtNDQ3M[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/signin-oidc-meu?code=84653c55-86c3-44b8-b0bb-4a6a5a111095&state=CfDJ8IRLia7XffNJh2SAFm28gtlPoIAVlw1DzLBGZyWpuaBKWpqqInPpBZwqzNnvtcZSpkBy8EeKF-Huo5I3G7MRB16yxmEcgl9Fs7aj2y2fwgk31K79sel752loryPr8Rnrn3vHbiDkOcSm59mX_W9GQtTeCMWtmqRduxcI_QIXEiGOEqNQ9_KBGfxt1o_6sTCMO-EMmQfs3cudtTOhuqiyfL5ephBgJpOH1KuhCdGpxjxxM1x0d45AsMyagVsgiFX9wbtjxDNG-MfVBUnZKH8yqQsvGTrfzdRTXWLcLqGiRbZvAlEz5xwzfaQEYb2eRHJiU6-kvi9a6silcKZ1RftmXQLdTu9fHTqX8Bhn2CvTQWbQbqHZSs0kAHdf5wFZ6hWzFvAMQsFCEN0d3Fx0WAmFjmSKsdjg7B9lWpUE0LXj5gto-vSJbitE9NBlxA93fAiLPsHV4leO6GIrOBtYLlouw7PSCjD_6GbhhkpJ5fFa3yd6oqrB6776i-wgR9CHYD1Fz4SCH2CelPX57eRurmKbqKyOXeo9g-h5WUo88EHGSdv35wswiKTMIgFNylrBAKwkn2Fq1l8ut5kGGIbDINeNDpUpmNgAgLkwpfN061d5zzYM31-GfKaUifB_pYcTFaLGR928P-mZUKo4yTcUM7rAE1aYqHFUJVv8-frsZu4Fh-VC
  response:
    body: {}
    headers:
      Location:
      - /ExternalLogin/Callback
      apigw-requestid:
      - btVW6hYwjoEEMgQ=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/ExternalLogin/Callback
  response:
    body: {}
    headers:
      Location:
      - /Redirect?RedirectUri=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AAA822E6562472B87575FFC76463DF08FED1545B29ECC7F557918BFB0E0F8A1C2%26client_id%3Dhomemobile
      apigw-requestid:
      - btVW8hi4joEEMrQ=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/Redirect?RedirectUri=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AAA822E6562472B87575FFC76463DF08FED1545B29ECC7F557918BFB0E0F8A1C2%26client_id%3Dhomemobile
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\"
        />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0, shrink-to-fit=no\"
        />\n\n    <title>MELCloud Home</title>\n    \n    <link rel=\"stylesheet\"
        href=\"/lib/bootstrap/dist/css/bootstrap.min.css\" />\n    <link rel=\"stylesheet\"
        href=\"/lib/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css\" />\n
        \   <link rel=\"stylesheet\" href=\"/css/site.css\" />\n    <link rel=\"stylesheet\"
        href=\"/css/layout.css\" />\n</head>\n<body>\n    \n<header class=\"gs18-Header
        gs18-Header--MinInteraction gs18-Header--NoSearch\" role=\"banner\" data-js-gs18-header>\n
        \   <div class=\"gs18-Header__Inner\" style=\"height:85px\">\n        <a href=\"\"
        style=\"position:absolute;\"><img src=\"/logo_with_name.png\" style=\"height:85px;\"
        alt=\"MITSUBISHI ELECTRIC\"></a>\n        <nav class=\"gs18-HeaderNav\" id=\"navMenu\">\n
        \               <ul class=\"gs18-HeaderNav__Menu\" style=\"width:100%\">\n
        \                   <li class=\"nav-item dropdown gs18-HeaderNav__Item\" style=\"color:black
        !important;\">\n                    <a href=\"#\" class=\"nav-link dropdown-toggle
        gs18-HeaderNav__Text\" data-toggle=\"dropdown\">***REDACTED_EMAIL*** <b class=\"caret\"></b></a>\n\n
        \                   <div class=\"dropdown-menu\">\n                        <a
        class=\"dropdown-item\" href=\"/Account/Logout\">Logout</a>\n                    </div>\n
        \               </li>\n            </ul[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/connect/authorize/callback?request_uri=urn:ietf:params:oauth:request_uri:AA822E6562472B87575FFC76463DF08FED1545B29ECC7F557918BFB0E0F8A1C2&client_id=homemobile
  response:
    body:
      string: ''
    headers:
      Location:
      - melcloudhome://?code=6C2CF1E59D9F591C6F32E9032D642E335C804D05ACC9E62B7D4B340083861231-1&scope=openid%20profile%20email%20offline_access%20IdentityServerApi&state=oK1XfnZKChh7Sf_OFUA_iQ&session_state=bWRWaLrHsDzn_KHBbZIvsLfzJ3utl1aGvU7q8_LZQ9o.E9B748F5E861CD65C7B68F47E16A9609&iss=https%3A%2F%2Fauth.melcloudhome.com
      apigw-requestid:
      - btVW-gg4DoEEMXg=
    status:
      code: 302
      message: Found
- request:
    body:
      client_id: homemobile
      code: '***REDACTED***'
      code_verifier: '***REDACTED***'
      grant_type: authorization_code
      redirect_uri: melcloudhome://
    headers:
    method: POST
    uri: https://auth.melcloudhome.com/connect/token
  response:
    body:
      string: '{"id_token":"***REDACTED***","access_token":"***REDACTED***","expires_in":3600,"token_type":"Bearer","refresh_token":"***REDACTED***","scope":"openid
        profile email offline_access IdentityServerApi"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      apigw-requestid:
      - btVW_hkJjoEEMTg=
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - '***REDACTED***'
    method: GET
    uri: https://mobile.bff.melcloudhome.com/context
  response:
    body:
      string: '{"id":"aaaaaaaa-aaaa-aaaa-aaaa-225daa9f9fd6","firstname":"***REDACTED***","lastname":"***REDACTED***","email":"***REDACTED_EMAIL***","language":"en","country":"GB","numberOfDevicesAllowed":10,"numberOfBuildingsAllowed":2,"numberOfGuestUsersAllowedPerUnit":5,"numberOfGuestDevicesAllowed":10,"buildings":[],"guestBuildings":[{"id":"aaaaaaaa-aaaa-aaaa-aaaa-bee6d2e10220","name":"***REDACTED_BUILDING***","timezone":"Europe/London","airToAirUnits":[{"id":"aaaaaaaa-aaaa-aaaa-aaaa-1f2e69275164","givenDisplayName":"***REDACTED_DEVICE***","displayIcon":"DiningRoom","unitSettings":null,"settings":[{"name":"RoomTemperature","value":"19.5"},{"name":"Power","value":"False"},{"name":"OperationMode","value":"Heat"},{"name":"ActualFanSpeed","value":"Off"},{"name":"SetFanSpeed","value":"Auto"},{"name":"VaneHorizontalDirection","value":"Swing"},{"name":"VaneVerticalDirection","value":"Auto"},{"name":"InStandbyMode","value":"False"},{"name":"SetTemperature","value":"20"},{"name":"IsInError","value":"False"},{"name":"ErrorCode","value":""}],"schedule":[{"days":["sunday","monday","tuesday","wednesday","thursday","friday","saturday"],"time":"07:00:00","enabled":true,"id":"aaaaaaaa-aaaa-aaaa-aaaa-2ae315d78599","power":true,"operationMode":"heat","setPoint":20,"vaneVerticalDirection":"swing","vaneHorizontalDirection":"swing","setFanSpeed":"three"},{"days":["sunday","monday","tuesday","wednesday","thursday","friday","saturday"],"time":"08:00:00","enabled":true,"id":"aaaaaaaa-aaaa-aaaa-aaaa-f5606aba5918","power":false,"operationMode":null,"setPoint":null,"vaneVerticalDirection":null,"vaneHorizontalDirection":null,"setFanSpeed":null},{"days":["monday","sunday","tuesday","wednesday","thursday","friday","saturday"],"time":"20:27:00","enabled":true,"id":"aaaaaaaa-aaaa-aaaa-aaaa-1883e302256e","power":true,"operationMode":"heat","setPoint":19,"vaneVerticalDirection":"auto","vaneHorizontalDirection":"centre","setFanSpeed":"one"},{"days":["monday","sunday","tuesday","wednesday","thursday","friday","saturday"],"time":"20:29:00","enabled":true,"id":"aaaaaaaa-aaaa-aaaa-aaaa-0edd0bf40642","power":false,"operationMode":null,"setPoint":null,"vaneVerticalDirection":null,"vaneHorizontalDirection":null,"setFanSpeed":null}],"isInError":false,"scheduleEnabled":false,"connectedInterfaceIdentifier":"***REDACTED_MAC***","capabilities":{"isMultiSplitSystem":true,"isLegacyDevice":false,"hasStandby":true,"hasCoolOperationMode":true,"hasHeatOperationMode":true,"hasAutoOperationMode":true,"hasDryOperationMode":true,"hasAutomaticFanSpeed":true,"hasAirDirection":true,"hasSwing":true,"hasExtendedTemperatureRange":true,"hasEnergyConsumedMeter":true,"numberOfFanSpeeds":5,"minTempCoolDry":16,"maxTempCoolDry":31,"minTempHeat":10,"maxTempHeat":31,"minTempAutomatic":16,"maxTempAutomatic":31,"hasDemandSideControl":true,"hasHalfDegreeIncrements":true,"supportsWideVane":false},"rssi":-67,"timeZone":"Europe/London","frostProtection":{"active":false,"enabled":false,"min":10,"max":12},"overheatProtection":{"active":false,"enabled":false,"min":35,"max":37},"holidayMode":{"enabled":false,"startDate":"2026-01-12T20:26:12.802","endDate":"2026-01-12T21:00:00","active":false},"isConnected":true,"connectedInterfaceType":"fourthGenWifi","systemId":null},{"id":"aaaaaaaa-aaaa-aaaa-aaaa-3dc9a6f7f311","givenDisplayName":"***REDACTED_DEVICE***","displayIcon":"LivingRoom","unitSettings":null,"settings":[{"name":"RoomTemperature","value":"18.5"},{"name":"Power","value":"False"},{"name":"OperationMode","value":"Heat"},{"name":"ActualFanSpeed","value":"Off"},{"name":"SetFanSpeed","value":"Auto"},{"name":"VaneHorizontalDirection","value":"Centre"},{"name":"VaneVerticalDirection","value":"Auto"},{"name":"InStandbyMode","value":"False"},{"name":"SetT[...]
- request:
    body: null
    headers:
      authorization:
      - '***REDACTED***'
    method: GET
    uri: https://mobile.bff.melcloudhome.com/telemetry/telemetry/energy/aaaaaaaa-aaaa-aaaa-aaaa-98d77a4b9665?from=2026-04-11+08:00&to=2026-04-12+08:00&interval=Hour&measure=interval_energy_produced
  response:
    body:
      string: '{"deviceId":"aaaaaaaa-aaaa-aaaa-aaaa-98d77a4b9665","measureData":[{"type":"intervalEnergyProduced","values":[{"time":"2026-04-12
        03:00:00.000000000","value":"2.5333333333333337"}]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b6-nd23e4GbqWQQwafwNbv22Uhxqf0"
      apigw-requestid:
      - btVXCj78DoEEJdA=
      origin-agent-cluster:
      - ?1
    status:
      code: 200
      message: OK
version: 1
