interactions:
- request:
    body:
      client_id: homemobile
      code_challenge: GWTCg0JxHH_6o0UvYbKXQdvds2lmmWPgYusWJeR01Io
      code_challenge_method: S256
      redirect_uri: melcloudhome://
      response_type: code
      scope: openid profile email offline_access IdentityServerApi
      state: oK1XfnZKChh7Sf_OFUA_iQ
    headers:
    method: POST
    uri: https://auth.melcloudhome.com/connect/par
  response:
    body:
      string: '{"request_uri":"urn:ietf:params:oauth:request_uri:D5557616B3A2770D9D208DA6189134EB9395BA42E9AB7347AF0B5FFF9B443418","expires_in":600}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      apigw-requestid:
      - btVdQgEbDoEEMWA=
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/connect/authorize?client_id=homemobile&request_uri=urn:ietf:params:oauth:request_uri:D5557616B3A2770D9D208DA6189134EB9395BA42E9AB7347AF0B5FFF9B443418
  response:
    body: {}
    headers:
      Location:
      - https://auth.melcloudhome.com/Account/Login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AD5557616B3A2770D9D208DA6189134EB9395BA42E9AB7347AF0B5FFF9B443418%26client_id%3Dhomemobile
      apigw-requestid:
      - btVdRjbsDoEEMNg=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/Account/Login?ReturnUrl=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AD5557616B3A2770D9D208DA6189134EB9395BA42E9AB7347AF0B5FFF9B443418%26client_id%3Dhomemobile
  response:
    body: {}
    headers:
      Location:
      - /ExternalLogin/Challenge?scheme=cognito-meu&returnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AD5557616B3A2770D9D208DA6189134EB9395BA42E9AB7347AF0B5FFF9B443418%26client_id%3Dhomemobile
      apigw-requestid:
      - btVdSgbfjoEEMMA=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/ExternalLogin/Challenge?scheme=cognito-meu&returnUrl=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AD5557616B3A2770D9D208DA6189134EB9395BA42E9AB7347AF0B5FFF9B443418%26client_id%3Dhomemobile
  response:
    body: {}
    headers:
      Location:
      - https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/oauth2/authorize?client_id=3g4d5l5kivuqi7oia68[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/oauth2/authorize?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=NA7u6DhFIgI1W17m91jDvZgjU-a9HzZripfMAgkuhyw&code_challenge_method=S256&response_mode=form_post&nonce=639115968846939812.ZDQ2MDRkNzYtNWQ2MS00Yzg1LThkMzktNjYwZTY5Yzc2ODM1ZWM5ZDMzNGEtYjU2NC00ODMwLTgzMjEtYTgxYzM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/login?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=NA7u6DhFIgI1W17m91jDvZgjU-a9HzZripfMAgkuhyw&code_challenge_method=S256&response_mode=form_post&nonce=639115968846939812.ZDQ2MDRkNzYtNWQ2MS00Yzg1LThkMzktNjYwZTY5Yzc2ODM1ZWM5ZDMzNGEtYjU2NC00ODMwLTgzMjEtYTgxYzMzOWIyMjEz&state=CfDJ8IRLia7XffNJh2SAFm28gtn45Hisl0UfmIH_RRaYIyjUtM3l1PlZFureEtUroqPzBbpKbTqpjFTc7amCfcB7PjiU3H1LEmgaD1cySwGLUEMV0INCEn5wydebDUZueA1jkbahAFeto0dXP6iWUjaZ_PFyXaGNOqzc8U6G6Epc3wLP4rvGAsF0CdQ5HJxbR_PdQbRn_tgNDHQd7TK4HsRoBUTtGVN1fpcIDvQ0KAGkMlA_wNddyWH1ZOeaZ-WZsOZ9MG3NgE-eLSsRCQwqll2BSMolD22i4MtvsE2XKw_HIlEv685xtMchnKDbhIHdnosnwTpOHu3wbrieJWBsgjBKOEaAnjAwd6nHw2-utXPIb8c87U_lEzcoT1ViC8Kea1RE85oi7LHl7ZnMPd_wUzlTrTtkslv1lupzZIXSiTvBR0FhMbjuUwsGVMKbgZ_iZnjkWQO-moj8IpnfSm5G5_G7-AswrdKUfpztAm5DfxEFzXunOSVN29h26Qmanqh5FpbxL9Q14uwMUG_4KFKLWAoxEmIJrgRN1lah2SIoRMl9DW3A0at3s0pBSabT6xa9LxCdxj-MmZvCNdcLXxObHWPdXOYkxonzmqOrlKdTAkqAEFwCK-ozsq9TUalqR-zxCVBjjJAkGSKa2TI8UK-NnzINulFhquuu7ZLHZk5qeV5nzFPW&x-client-SKU=ID_NET8_0&x-client-ver=7.1.2.0
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head><head>\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/css/bootstrap.min.css\"
        rel=\"stylesheet\"\n        media=\"screen\" />\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/css/cognito-login.css\"
        rel=\"stylesheet\"\n        media=\"screen\" />\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/eu-west-1_gFEQiVmPM/3g4d5l5kivuqi7oia68gib7uso/20250401160518/assets/CSS/custom-css.css\"
        rel=\"stylesheet\" media=\"screen\" />\n    <title>Signin</title>\n\n    <script
        src=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/js/amazon-cognito-advanced-security-data.min.js\"
        ></script>\n    <script>\n    function getAdvancedSecurityData(formReference)
        {\n        if (typeof AmazonCognitoAdvancedSecurityData === \"undefined\")
        {\n            return true;\n        }\n\n        // UserpoolId is not available
        on frontend for springboard. We do not use userPoolId\n        // anyway other
        than put in context data. \n        var userPoolId = \"\";\n        var clientId
        = getUrlParameter(\"client_id\");\n\n        var username = \"\";\n        var
        use[...]
- request:
    body:
      _csrf: '***REDACTED***'
      cognitoAsfData: ''
      password: '***REDACTED***'
      username: '***REDACTED_EMAIL***'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/login?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=NA7u6DhFIgI1W17m91jDvZgjU-a9HzZripfMAgkuhyw&code_challenge_method=S256&response_mode=form_post&nonce=639115968846939812.ZDQ2MDRkNzYtNWQ2MS00Yzg1LThkMzktNjYwZ[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/signin-oidc-meu?code=3f79654b-a365-4b35-8a11-8317edfb758a&state=CfDJ8IRLia7XffNJh2SAFm28gtn45Hisl0UfmIH_RRaYIyjUtM3l1PlZFureEtUroqPzBbpKbTqpjFTc7amCfcB7PjiU3H1LEmgaD1cySwGLUEMV0INCEn5wydebDUZueA1jkbahAFeto0dXP6iWUjaZ_PFyXaGNOqzc8U6G6Epc3wLP4rvGAsF0CdQ5HJxbR_PdQbRn_tgNDHQd7TK4HsRoBUTtGVN1fpcIDvQ0KAGkMlA_wNddyWH1ZOeaZ-WZsOZ9MG3NgE-eLSsRCQwqll2BSMolD22i4MtvsE2XKw_HIlEv685xtMchnKDbhIHdnosnwTpOHu3wbrieJWBsgjBKOEaAnjAwd6nHw2-utXPIb8c87U_lEzcoT1ViC8Kea1RE85oi7LHl7ZnMPd_wUzlTrTtkslv1lupzZIXSiTvBR0FhMbjuUwsGVMKbgZ_iZnjkWQO-moj8IpnfSm5G5_G7-AswrdKUfpztAm5DfxEFzXunOSVN29h26Qmanqh5FpbxL9Q14uwMUG_4KFKLWAoxEmIJrgRN1lah2SIoRMl9DW3A0at3s0pBSabT6xa9LxCdxj-MmZvCNdcLXxObHWPdXOYkxonzmqOrlKdTAkqAEFwCK-ozsq9TUalqR-zxCVBjjJAkGSKa2TI8UK-NnzINulFhquuu7ZLHZk5qeV5nzFPW
  response:
    body: {}
    headers:
      Location:
      - /ExternalLogin/Callback
      apigw-requestid:
      - btVdZjG1DoEEM0g=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/ExternalLogin/Callback
  response:
    body: {}
    headers:
      Location:
      - /Redirect?RedirectUri=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AD5557616B3A2770D9D208DA6189134EB9395BA42E9AB7347AF0B5FFF9B443418%26client_id%3Dhomemobile
      apigw-requestid:
      - btVdbglyjoEEMLw=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/Redirect?RedirectUri=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AD5557616B3A2770D9D208DA6189134EB9395BA42E9AB7347AF0B5FFF9B443418%26client_id%3Dhomemobile
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\"
        />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0, shrink-to-fit=no\"
        />\n\n    <title>MELCloud Home</title>\n    \n    <link rel=\"stylesheet\"
        href=\"/lib/bootstrap/dist/css/bootstrap.min.css\" />\n    <link rel=\"stylesheet\"
        href=\"/lib/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css\" />\n
        \   <link rel=\"stylesheet\" href=\"/css/site.css\" />\n    <link rel=\"stylesheet\"
        href=\"/css/layout.css\" />\n</head>\n<body>\n    \n<header class=\"gs18-Header
        gs18-Header--MinInteraction gs18-Header--NoSearch\" role=\"banner\" data-js-gs18-header>\n
        \   <div class=\"gs18-Header__Inner\" style=\"height:85px\">\n        <a href=\"\"
        style=\"position:absolute;\"><img src=\"/logo_with_name.png\" style=\"height:85px;\"
        alt=\"MITSUBISHI ELECTRIC\"></a>\n        <nav class=\"gs18-HeaderNav\" id=\"navMenu\">\n
        \               <ul class=\"gs18-HeaderNav__Menu\" style=\"width:100%\">\n
        \                   <li class=\"nav-item dropdown gs18-HeaderNav__Item\" style=\"color:black
        !important;\">\n                    <a href=\"#\" class=\"nav-link dropdown-toggle
        gs18-HeaderNav__Text\" data-toggle=\"dropdown\">***REDACTED_EMAIL*** <b class=\"caret\"></b></a>\n\n
        \                   <div class=\"dropdown-menu\">\n                        <a
        class=\"dropdown-item\" href=\"/Account/Logout\">Logout</a>\n                    </div>\n
        \               </li>\n            </ul[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/connect/authorize/callback?request_uri=urn:ietf:params:oauth:request_uri:D5557616B3A2770D9D208DA6189134EB9395BA42E9AB7347AF0B5FFF9B443418&client_id=homemobile
  response:
    body:
      string: ''
    headers:
      Location:
      - melcloudhome://?code=2BD4267E6DBB1577F75EE460602BD07B8862B1F4260039E928D298A191E3AF0E-1&scope=openid%20profile%20email%20offline_access%20IdentityServerApi&state=oK1XfnZKChh7Sf_OFUA_iQ&session_state=DDShUABoO0NKb6fZ9ackuNnOXXxrJ5lyaUB9E0QImJ0.B0476D3201D2BACC132995C24BE425F2&iss=https%3A%2F%2Fauth.melcloudhome.com
      apigw-requestid:
      - btVdcinIDoEEMug=
    status:
      code: 302
      message: Found
- request:
    body:
      client_id: homemobile
      code: '***REDACTED***'
      code_verifier: '***REDACTED***'
      grant_type: authorization_code
      redirect_uri: melcloudhome://
    headers:
    method: POST
    uri: https://auth.melcloudhome.com/connect/token
  response:
    body:
      string: '{"id_token":"***REDACTED***","access_token":"***REDACTED***","expires_in":3600,"token_type":"Bearer","refresh_token":"***REDACTED***","scope":"openid
        profile email offline_access IdentityServerApi"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      apigw-requestid:
      - btVddjIODoEEM0g=
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - '***REDACTED***'
    method: GET
    uri: https://mobile.bff.melcloudhome.com/telemetry/telemetry/actual/aaaaaaaa-aaaa-aaaa-aaaa-98d77a4b9665?from=2026-01-14+12:00&to=2026-01-14+16:00&measure=return_temperature
  response:
    body:
      string: '{"measureData":[{"deviceId":"aaaaaaaa-aaaa-aaaa-aaaa-98d77a4b9665","type":"returnTemperature","values":[{"time":"2026-01-14
        05:52:42.759000000","value":"20.5"},{"time":"2026-01-14 12:48:44.047000000","value":"29.5"},{"time":"2026-01-14
        12:50:43.530000000","value":"31.5"},{"time":"2026-01-14 12:52:44.277000000","value":"31.0"},{"time":"2026-01-14
        12:54:43.660000000","value":"30.5"},{"time":"2026-01-14 12:56:44.262000000","value":"32.5"},{"time":"2026-01-14
        13:00:43.382000000","value":"34.5"},{"time":"2026-01-14 13:02:43.927000000","value":"37.0"},{"time":"2026-01-14
        13:04:43.647000000","value":"40.0"},{"time":"202[...]
