interactions:
- request:
    body:
      client_id: homemobile
      code_challenge: GWTCg0JxHH_6o0UvYbKXQdvds2lmmWPgYusWJeR01Io
      code_challenge_method: S256
      redirect_uri: melcloudhome://
      response_type: code
      scope: openid profile email offline_access IdentityServerApi
      state: oK1XfnZKChh7Sf_OFUA_iQ
    headers:
    method: POST
    uri: https://auth.melcloudhome.com/connect/par
  response:
    body:
      string: '{"request_uri":"urn:ietf:params:oauth:request_uri:67647DBDC7A40A8FED8816E18F870682A416BF52DE4B5778D07D990EB7D68F25","expires_in":600}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      apigw-requestid:
      - CmiqIjj1DoEEJ0g=
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/connect/authorize?client_id=homemobile&request_uri=urn:ietf:params:oauth:request_uri:67647DBDC7A40A8FED8816E18F870682A416BF52DE4B5778D07D990EB7D68F25
  response:
    body: {}
    headers:
      Location:
      - https://auth.melcloudhome.com/Account/Login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A67647DBDC7A40A8FED8816E18F870682A416BF52DE4B5778D07D990EB7D68F25%26client_id%3Dhomemobile
      apigw-requestid:
      - CmiqJiprjoEEJXg=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/Account/Login?ReturnUrl=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A67647DBDC7A40A8FED8816E18F870682A416BF52DE4B5778D07D990EB7D68F25%26client_id%3Dhomemobile
  response:
    body: {}
    headers:
      Location:
      - /ExternalLogin/Challenge?scheme=cognito-meu&returnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A67647DBDC7A40A8FED8816E18F870682A416BF52DE4B5778D07D990EB7D68F25%26client_id%3Dhomemobile
      apigw-requestid:
      - CmiqKhgBDoEEJ9g=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/ExternalLogin/Challenge?scheme=cognito-meu&returnUrl=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A67647DBDC7A40A8FED8816E18F870682A416BF52DE4B5778D07D990EB7D68F25%26client_id%3Dhomemobile
  response:
    body: {}
    headers:
      Location:
      - https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/oauth2/authorize?client_id=3g4d5l5kivuqi7oia68[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/oauth2/authorize?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=jGkongmYOfM2-DsKlIM3_1e40F6GmbIPKG-qKq_Cc7I&code_challenge_method=S256&response_mode=form_post&nonce=639231628422764542.YWIzNjJhMDYtODFiYS00ZWFmLThjYmQtNDk4MmM5YTVjMDI3NjNiNmI1MmMtNDdhNy00NTNhLWFmNGYtOTJlMjU[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/login?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=jGkongmYOfM2-DsKlIM3_1e40F6GmbIPKG-qKq_Cc7I&code_challenge_method=S256&response_mode=form_post&nonce=639231628422764542.YWIzNjJhMDYtODFiYS00ZWFmLThjYmQtNDk4MmM5YTVjMDI3NjNiNmI1MmMtNDdhNy00NTNhLWFmNGYtOTJlMjUxMjI4YWQy&state=CfDJ8I9HYxO_M3FJmqyQy6voCjKzb5AMljqK0u0fV2BcBII9pUe3bVgWyGFmLD9CDZyIYIbpwe5V43vrzkQEW6IMBmp_H4657aE3tiF894ynkqKO08n4WcH6Ad19RaOJ0YsOYGs2nJCms7zmewRxxapzRwvlmDBbHcTzbub6XmDjIkxJfKsD7tlH6wUdYpNEsvQSCHshyH4jGSWagDxEKC1DT0T2rjcY6PARxSNXg1_OwCUk0UNmJgBY3-NgibzMoRhbWXieBgmvGhPMh3DJpaz0xYxI0VQMtIcFcEra2VtX0YoptO7Wg62rEuV7hakRj9pF2o5zVADjwvcGGe4rjExm4sy8OuEgsA2AkB56ZHYQZb_4MRNR8nBPtyGDXC-NXhxOR8SbDadnGSo7S3A_FRLCkcr4kDF5GUymPdUT92FJ12OhFRmhzej5tvDUT4it6uW_jeArp4_uSWFXFGhsj6k7l_JV_VT5b1RQ-Gyep_QmK2ke1TOYAX1DTFsCN-QCaZaKjHs1MXae9YocUl5HsdekCdCAYiem4ivIDqecO7ylyTJAFA4eoauNVMl5sFe5TzW0MhINVVxrzltM8ss1gf8tmdnXrvr-HW4uSAwc1P8pGXMnnyx8b7v-3BDmAhIEyGdHao3jFCtw8na1oTO9yYgAlVRC4PZ7qmqNV4ilHnmz6bWS&x-client-SKU=ID_NET8_0&x-client-ver=7.1.2.0
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head><head>\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/css/bootstrap.min.css\"
        rel=\"stylesheet\"\n        media=\"screen\" />\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/css/cognito-login.css\"
        rel=\"stylesheet\"\n        media=\"screen\" />\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/eu-west-1_gFEQiVmPM/3g4d5l5kivuqi7oia68gib7uso/20250401160518/assets/CSS/custom-css.css\"
        rel=\"stylesheet\" media=\"screen\" />\n    <title>Signin</title>\n\n    <script
        src=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/js/amazon-cognito-advanced-security-data.min.js\"
        ></script>\n    <script>\n    function getAdvancedSecurityData(formReference)
        {\n        if (typeof AmazonCognitoAdvancedSecurityData === \"undefined\")
        {\n            return true;\n        }\n\n        // UserpoolId is not available
        on frontend for springboard. We do not use userPoolId\n        // anyway other
        than put in context data. \n        var userPoolId = \"\";\n        var clientId
        = getUrlParameter(\"client_id\");\n\n        var username = \"\";\n        var
        use[...]
- request:
    body:
      _csrf: '***REDACTED***'
      cognitoAsfData: ''
      password: '***REDACTED***'
      username: '***REDACTED_EMAIL***'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/login?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=jGkongmYOfM2-DsKlIM3_1e40F6GmbIPKG-qKq_Cc7I&code_challenge_method=S256&response_mode=form_post&nonce=639231628422764542.YWIzNjJhMDYtODFiYS00ZWFmLThjYmQtNDk4M[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/signin-oidc-meu?code=8da8b44c-895f-47f2-8a06-99f91da69009&state=CfDJ8I9HYxO_M3FJmqyQy6voCjKzb5AMljqK0u0fV2BcBII9pUe3bVgWyGFmLD9CDZyIYIbpwe5V43vrzkQEW6IMBmp_H4657aE3tiF894ynkqKO08n4WcH6Ad19RaOJ0YsOYGs2nJCms7zmewRxxapzRwvlmDBbHcTzbub6XmDjIkxJfKsD7tlH6wUdYpNEsvQSCHshyH4jGSWagDxEKC1DT0T2rjcY6PARxSNXg1_OwCUk0UNmJgBY3-NgibzMoRhbWXieBgmvGhPMh3DJpaz0xYxI0VQMtIcFcEra2VtX0YoptO7Wg62rEuV7hakRj9pF2o5zVADjwvcGGe4rjExm4sy8OuEgsA2AkB56ZHYQZb_4MRNR8nBPtyGDXC-NXhxOR8SbDadnGSo7S3A_FRLCkcr4kDF5GUymPdUT92FJ12OhFRmhzej5tvDUT4it6uW_jeArp4_uSWFXFGhsj6k7l_JV_VT5b1RQ-Gyep_QmK2ke1TOYAX1DTFsCN-QCaZaKjHs1MXae9YocUl5HsdekCdCAYiem4ivIDqecO7ylyTJAFA4eoauNVMl5sFe5TzW0MhINVVxrzltM8ss1gf8tmdnXrvr-HW4uSAwc1P8pGXMnnyx8b7v-3BDmAhIEyGdHao3jFCtw8na1oTO9yYgAlVRC4PZ7qmqNV4ilHnmz6bWS
  response:
    body: {}
    headers:
      Location:
      - /ExternalLogin/Callback
      apigw-requestid:
      - CmiqSj8ijoEEJng=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/ExternalLogin/Callback
  response:
    body: {}
    headers:
      Location:
      - /Redirect?RedirectUri=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A67647DBDC7A40A8FED8816E18F870682A416BF52DE4B5778D07D990EB7D68F25%26client_id%3Dhomemobile
      apigw-requestid:
      - CmiqUjbVDoEEJZQ=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/Redirect?RedirectUri=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A67647DBDC7A40A8FED8816E18F870682A416BF52DE4B5778D07D990EB7D68F25%26client_id%3Dhomemobile
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\"
        />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0, shrink-to-fit=no\"
        />\n\n    <title>MELCloud Home</title>\n\n    <link rel=\"stylesheet\" href=\"/lib/bootstrap/dist/css/bootstrap.min.css\"
        />\n    <link rel=\"stylesheet\" href=\"/lib/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css\"
        />\n    <link rel=\"stylesheet\" href=\"/css/site.css\" />\n    <link rel=\"stylesheet\"
        href=\"/css/layout.css\" />\n\n    \n</head>\n<body>\n    \n<header class=\"gs18-Header
        gs18-Header--MinInteraction gs18-Header--NoSearch\" role=\"banner\" data-js-gs18-header>\n
        \   <div class=\"gs18-Header__Inner\" style=\"height:85px\">\n        <a href=\"\"
        style=\"position:absolute;\"><img src=\"/logo_with_name.png\" style=\"height:85px;\"
        alt=\"MITSUBISHI ELECTRIC\"></a>\n        <nav class=\"gs18-HeaderNav\" id=\"navMenu\">\n
        \               <ul class=\"gs18-HeaderNav__Menu\" style=\"width:100%\">\n
        \                   <li class=\"nav-item dropdown gs18-HeaderNav__Item\" style=\"color:black
        !important;\">\n                    <a href=\"#\" class=\"nav-link dropdown-toggle
        gs18-HeaderNav__Text\" data-toggle=\"dropdown\">***REDACTED_EMAIL*** <b class=\"caret\"></b></a>\n\n
        \                   <div class=\"dropdown-menu\">\n                        <a
        class=\"dropdown-item\" href=\"/Account/Logout\">Logout</a>\n                    </div>\n
        \               </li>\n            </ul[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/connect/authorize/callback?request_uri=urn:ietf:params:oauth:request_uri:67647DBDC7A40A8FED8816E18F870682A416BF52DE4B5778D07D990EB7D68F25&client_id=homemobile
  response:
    body:
      string: ''
    headers:
      Location:
      - melcloudhome://?code=A31D9A6041AD4D62898877436D662E678E97E2C4BC8E7A5FD2C348400AD08AEE-1&scope=openid%20profile%20email%20offline_access%20IdentityServerApi&state=oK1XfnZKChh7Sf_OFUA_iQ&session_state=fnvHzgABjrJJrX74oKrotAomZCgXBa5RI1er7nDKu30.491BBC91691A41CB401525519EEF007F&iss=https%3A%2F%2Fauth.melcloudhome.com
      apigw-requestid:
      - CmiqWjikjoEEJrw=
    status:
      code: 302
      message: Found
- request:
    body:
      client_id: homemobile
      code: '***REDACTED***'
      code_verifier: '***REDACTED***'
      grant_type: authorization_code
      redirect_uri: melcloudhome://
    headers:
    method: POST
    uri: https://auth.melcloudhome.com/connect/token
  response:
    body:
      string: '{"id_token":"***REDACTED***","access_token":"***REDACTED***","expires_in":3600,"token_type":"Bearer","refresh_token":"***REDACTED***","scope":"openid
        profile email offline_access IdentityServerApi"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      apigw-requestid:
      - CmiqXirajoEEJQA=
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - '***REDACTED***'
    method: GET
    uri: https://mobile.bff.melcloudhome.com/context
  response:
    body:
      string: '{"id":"aaaaaaaa-aaaa-aaaa-aaaa-e02c4382eb85","firstname":"***REDACTED***","lastname":"***REDACTED***","email":"***REDACTED_EMAIL***","language":"en","country":"GB","numberOfDevicesAllowed":10,"numberOfBuildingsAllowed":2,"numberOfGuestUsersAllowedPerUnit":5,"numberOfGuestDevicesAllowed":10,"buildings":[],"guestBuildings":[{"id":"aaaaaaaa-aaaa-aaaa-aaaa-f90937ac0297","name":"***REDACTED_BUILDING***","timezone":"Europe/London","airToAirUnits":[{"unitSettings":null,"schedule":[],"scheduleEnabled":true,"connectedInterfaceIdentifier":"***REDACTED_MAC***","capabilities":{"isMultiSplitSystem":true,"isLegacyDevice":false,"hasStandby":true,"hasCoolOperationMode":true,"hasHeatOperationMode":true,"hasAutoOperationMode":true,"hasDryOperationMode":true,"hasAutomaticFanSpeed":true,"hasAirDirection":true,"hasSwing":true,"hasExtendedTemperatureRange":true,"hasEnergyConsumedMeter":true,"numberOfFanSpeeds":5,"minTempCoolDry":16,"maxTempCoolDry":31,"minTempHeat":10,"maxTempHeat":31,"minTempAutomatic":16,"maxTempAutomatic":31,"hasDemandSideControl":true,"hasHalfDegreeIncrements":true,"supportsWideVane":false},"frostProtection":{"active":false,"enabled":true,"min":10,"max":12},"overheatProtection":{"active":false,"enabled":false,"min":35,"max":37},"holidayMode":{"enabled":false,"startDate":"2026-07-28T07:44:00.966","endDate":"2026-07-28T07:44:00","active":false},"connectedInterfaceType":"fourthGenWifi","systemId":null,"id":"aaaaaaaa-aaaa-aaaa-aaaa-4c6fd61ac825","givenDisplayName":"***REDACTED_DEVICE***","displayIcon":"DiningRoom","settings":[{"name":"RoomTemperature","value":"20.5"},{"name":"Power","value":"True"},{"name":"OperationMode","value":"Cool"},{"name":"ActualFanSpeed","value":"Two"},{"name":"SetFanSpeed","value":"Auto"},{"name":"VaneHorizontalDirection","value":"Swing"},{"name":"VaneVerticalDirection","value":"Five"},{"name":"InStandbyMode","value":"False"},{"name":"SetTemperature","value":"20"},{"name":"IsInError","value":"False"},{"name":"ErrorCode","value":""}],"timeZone":"Europe/London","rssi":-39,"isConnected":true,"isInError":false},{"unitSettings":null,"schedule":[],"scheduleEnabled":false,"connectedInterfaceIdentifier":"***REDACTED_MAC***","capabilities":{"isMultiSplitSystem":true,"isLegacyDevice":false,"hasStandby":true,"hasCoolOperationMode":true,"hasHeatOperationMode":true,"hasAutoOperationMode":true,"hasDryOperationMode":true,"hasAutomaticFanSpeed":true,"hasAirDirection":true,"hasSwing":true,"hasExtendedTemperatureRange":true,"hasEnergyConsumedMeter":true,"numberOfFanSpeeds":5,"minTempCoolDry":16,"maxTempCoolDr[...]
- request:
    body: null
    headers:
      authorization:
      - '***REDACTED***'
    method: GET
    uri: https://mobile.bff.melcloudhome.com/report/v1/comfort-graph?unitId=aaaaaaaa-aaaa-aaaa-aaaa-6b6529f39911&period=Hourly&from=2026-08-16T09:30:00.0000000Z&to=2026-08-17T09:30:00.0000000Z
  response:
    body:
      string: '[{"reportPeriod":0,"datasets":[{"id":"set_tank_water_temperature","label":"REPORT.INTEMP_REPORT.DATASET.LABELS.SET_TANK_TEMPERATURE","data":[{"x":"2026-08-17T08:57:11","y":50},{"x":"2026-08-17T09:00:00","y":50},{"x":"2026-08-17T10:00:00","y":50},{"x":"2026-08-17T10:50:14","y":50},{"x":"2026-08-17T11:00:00","y":50},{"x":"2026-08-17T11:30:00","y":50}],"borderColor":"#EEDD11","backgroundColor":"#EEDD11","yAxisId":"yTemp","pointRadius":0,"lineTension":0,"borderWidth":2,"stepped":true,"spanGaps":false,"displayIcon":true,"fill":false,"hidden":true},{"id":"tank_water_temperature","label":"REPORT.INTEMP_REPORT.DATASET.LABELS.TANK_TEMPERATURE","data":[{"x":"2026-08-16T00:27:12","y":44.5},{"x":"2026-08-16T00:28:12","y":44},{"x":"2026-08-16T00:29:13","y":43},{"x":"2026-08-16T00:30:12","y":42.5},{"x":"2026-08-16T00:31:12","y":41.5},{"x":"2026-08-16T00:32:12","y":40},{"x":"2026-08-16T00:33:13","y":38.5},{"x":"2026-08-16T00:34:12","y":37.5},{"x":"2026-08-16T00:36:13","y":37},{"x":"2026-08-16T00:37:12","y":37.5},{"x":"2026-08-16T00:39:11","y"[...]
