interactions:
- request:
    body:
      client_id: homemobile
      code_challenge: GWTCg0JxHH_6o0UvYbKXQdvds2lmmWPgYusWJeR01Io
      code_challenge_method: S256
      redirect_uri: melcloudhome://
      response_type: code
      scope: openid profile email offline_access IdentityServerApi
      state: oK1XfnZKChh7Sf_OFUA_iQ
    headers:
    method: POST
    uri: https://auth.melcloudhome.com/connect/par
  response:
    body:
      string: '{"request_uri":"urn:ietf:params:oauth:request_uri:17897B5B890C5F2C66033A2D0144E641BD22BCFF7BC533C29CC998F342A560C3","expires_in":600}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      apigw-requestid:
      - btVcji0IjoEEMkA=
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/connect/authorize?client_id=homemobile&request_uri=urn:ietf:params:oauth:request_uri:17897B5B890C5F2C66033A2D0144E641BD22BCFF7BC533C29CC998F342A560C3
  response:
    body: {}
    headers:
      Location:
      - https://auth.melcloudhome.com/Account/Login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A17897B5B890C5F2C66033A2D0144E641BD22BCFF7BC533C29CC998F342A560C3%26client_id%3Dhomemobile
      apigw-requestid:
      - btVcjh3JjoEEMFg=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/Account/Login?ReturnUrl=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A17897B5B890C5F2C66033A2D0144E641BD22BCFF7BC533C29CC998F342A560C3%26client_id%3Dhomemobile
  response:
    body: {}
    headers:
      Location:
      - /ExternalLogin/Challenge?scheme=cognito-meu&returnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A17897B5B890C5F2C66033A2D0144E641BD22BCFF7BC533C29CC998F342A560C3%26client_id%3Dhomemobile
      apigw-requestid:
      - btVckhuYDoEEMbQ=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/ExternalLogin/Challenge?scheme=cognito-meu&returnUrl=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A17897B5B890C5F2C66033A2D0144E641BD22BCFF7BC533C29CC998F342A560C3%26client_id%3Dhomemobile
  response:
    body: {}
    headers:
      Location:
      - https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/oauth2/authorize?client_id=3g4d5l5kivuqi7oia68[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/oauth2/authorize?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=VlsDj71WtT7W6tWboZf_mow919RWtCTh4ekJ2Z5b7No&code_challenge_method=S256&response_mode=form_post&nonce=639115968801040693.YTk0NjZlZjQtMDFhNy00MjU2LTgyZDQtMWMxYWU0ZjFhZmFiODhhY2YzMDMtY2Y2ZS00YTAzLTkyZjMtNmY2YzQ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/login?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=VlsDj71WtT7W6tWboZf_mow919RWtCTh4ekJ2Z5b7No&code_challenge_method=S256&response_mode=form_post&nonce=639115968801040693.YTk0NjZlZjQtMDFhNy00MjU2LTgyZDQtMWMxYWU0ZjFhZmFiODhhY2YzMDMtY2Y2ZS00YTAzLTkyZjMtNmY2YzQ1NzMxOTUx&state=CfDJ8IRLia7XffNJh2SAFm28gtla-FyGP7AQCGKlKs2tcEcLYWo-yK4yYPtoDStmyIpli3XjlWRBmE-zUr8xdx9uFBehWLxqGGTwjZf9BaJzLiqkEiAJBY4g8EU7kfIk8ebAQRt77C33CSOm1-WGwvDhx_tDVGE7WhMiYy-8O60YeeQu5oHwy7jViYeDZ_sV7ygsjIyxBbJg3DON8cPil3AdAjJr68t5DFUrrew9jgo6l0z7zvyRrkzoC7RDDdwRzcK_58VxSvYXBYHuXyAZGjvWhfzp6dqiGl_wqvLceejqSO8ua4TgUX_-ARFpiKtysHbEpuPHC1PQ7aWQ5gG_IkuZYv7XQFUatPkzemSoOQwCxk3D2bYPNw9KbV6PO5d9WFh6hb6cOj6EhhPJPg1Y9WVG-c6AcE-MG_EXTi4wU8bfAIISK4sZ4zyJwV-oRO09r-ZnXpJPfgJmgqLbKeMRqNEvP8tS3Sw58CDRro0Z5cFZBMnKITF4RGnDxJPSfUzlRt4RirIoi8iNzFCrcJWT8OgRVkVD85H-xzhHtbTIPx0K2NMb1-450KXo3I-4qeOGAvcQlOD-mBDL8I393V0prLmCX-PSqphJITGR4A7JDqkhZHYdDj-49vqA_H0pKqcGwtSoUsdTZD6ZS6QDHM5-vyaMTKU1Qdpu3I2RkUx4te1VrvAV&x-client-SKU=ID_NET8_0&x-client-ver=7.1.2.0
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head><head>\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/css/bootstrap.min.css\"
        rel=\"stylesheet\"\n        media=\"screen\" />\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/css/cognito-login.css\"
        rel=\"stylesheet\"\n        media=\"screen\" />\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/eu-west-1_gFEQiVmPM/3g4d5l5kivuqi7oia68gib7uso/20250401160518/assets/CSS/custom-css.css\"
        rel=\"stylesheet\" media=\"screen\" />\n    <title>Signin</title>\n\n    <script
        src=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/js/amazon-cognito-advanced-security-data.min.js\"
        ></script>\n    <script>\n    function getAdvancedSecurityData(formReference)
        {\n        if (typeof AmazonCognitoAdvancedSecurityData === \"undefined\")
        {\n            return true;\n        }\n\n        // UserpoolId is not available
        on frontend for springboard. We do not use userPoolId\n        // anyway other
        than put in context data. \n        var userPoolId = \"\";\n        var clientId
        = getUrlParameter(\"client_id\");\n\n        var username = \"\";\n        var
        use[...]
- request:
    body:
      _csrf: '***REDACTED***'
      cognitoAsfData: ''
      password: '***REDACTED***'
      username: '***REDACTED_EMAIL***'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/login?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=VlsDj71WtT7W6tWboZf_mow919RWtCTh4ekJ2Z5b7No&code_challenge_method=S256&response_mode=form_post&nonce=639115968801040693.YTk0NjZlZjQtMDFhNy00MjU2LTgyZDQtMWMxY[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/signin-oidc-meu?code=3ca916fd-2883-4c0c-81dc-14880be22c12&state=CfDJ8IRLia7XffNJh2SAFm28gtla-FyGP7AQCGKlKs2tcEcLYWo-yK4yYPtoDStmyIpli3XjlWRBmE-zUr8xdx9uFBehWLxqGGTwjZf9BaJzLiqkEiAJBY4g8EU7kfIk8ebAQRt77C33CSOm1-WGwvDhx_tDVGE7WhMiYy-8O60YeeQu5oHwy7jViYeDZ_sV7ygsjIyxBbJg3DON8cPil3AdAjJr68t5DFUrrew9jgo6l0z7zvyRrkzoC7RDDdwRzcK_58VxSvYXBYHuXyAZGjvWhfzp6dqiGl_wqvLceejqSO8ua4TgUX_-ARFpiKtysHbEpuPHC1PQ7aWQ5gG_IkuZYv7XQFUatPkzemSoOQwCxk3D2bYPNw9KbV6PO5d9WFh6hb6cOj6EhhPJPg1Y9WVG-c6AcE-MG_EXTi4wU8bfAIISK4sZ4zyJwV-oRO09r-ZnXpJPfgJmgqLbKeMRqNEvP8tS3Sw58CDRro0Z5cFZBMnKITF4RGnDxJPSfUzlRt4RirIoi8iNzFCrcJWT8OgRVkVD85H-xzhHtbTIPx0K2NMb1-450KXo3I-4qeOGAvcQlOD-mBDL8I393V0prLmCX-PSqphJITGR4A7JDqkhZHYdDj-49vqA_H0pKqcGwtSoUsdTZD6ZS6QDHM5-vyaMTKU1Qdpu3I2RkUx4te1VrvAV
  response:
    body: {}
    headers:
      Location:
      - /ExternalLogin/Callback
      apigw-requestid:
      - btVcshqkDoEEMRA=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/ExternalLogin/Callback
  response:
    body: {}
    headers:
      Location:
      - /Redirect?RedirectUri=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A17897B5B890C5F2C66033A2D0144E641BD22BCFF7BC533C29CC998F342A560C3%26client_id%3Dhomemobile
      apigw-requestid:
      - btVcugvAjoEEM4g=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/Redirect?RedirectUri=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A17897B5B890C5F2C66033A2D0144E641BD22BCFF7BC533C29CC998F342A560C3%26client_id%3Dhomemobile
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\"
        />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0, shrink-to-fit=no\"
        />\n\n    <title>MELCloud Home</title>\n    \n    <link rel=\"stylesheet\"
        href=\"/lib/bootstrap/dist/css/bootstrap.min.css\" />\n    <link rel=\"stylesheet\"
        href=\"/lib/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css\" />\n
        \   <link rel=\"stylesheet\" href=\"/css/site.css\" />\n    <link rel=\"stylesheet\"
        href=\"/css/layout.css\" />\n</head>\n<body>\n    \n<header class=\"gs18-Header
        gs18-Header--MinInteraction gs18-Header--NoSearch\" role=\"banner\" data-js-gs18-header>\n
        \   <div class=\"gs18-Header__Inner\" style=\"height:85px\">\n        <a href=\"\"
        style=\"position:absolute;\"><img src=\"/logo_with_name.png\" style=\"height:85px;\"
        alt=\"MITSUBISHI ELECTRIC\"></a>\n        <nav class=\"gs18-HeaderNav\" id=\"navMenu\">\n
        \               <ul class=\"gs18-HeaderNav__Menu\" style=\"width:100%\">\n
        \                   <li class=\"nav-item dropdown gs18-HeaderNav__Item\" style=\"color:black
        !important;\">\n                    <a href=\"#\" class=\"nav-link dropdown-toggle
        gs18-HeaderNav__Text\" data-toggle=\"dropdown\">***REDACTED_EMAIL*** <b class=\"caret\"></b></a>\n\n
        \                   <div class=\"dropdown-menu\">\n                        <a
        class=\"dropdown-item\" href=\"/Account/Logout\">Logout</a>\n                    </div>\n
        \               </li>\n            </ul[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/connect/authorize/callback?request_uri=urn:ietf:params:oauth:request_uri:17897B5B890C5F2C66033A2D0144E641BD22BCFF7BC533C29CC998F342A560C3&client_id=homemobile
  response:
    body:
      string: ''
    headers:
      Location:
      - melcloudhome://?code=13D6D4054E7F483E8C1A53509C390BF7F5E67D645C78C7C12EA12AE3BEF8830B-1&scope=openid%20profile%20email%20offline_access%20IdentityServerApi&state=oK1XfnZKChh7Sf_OFUA_iQ&session_state=wy3DUFXrVPu71DMJX2GMMrj7Ug55HJjOx7UbIuwUfIo.2A9FC744ED80349876CB30A9C5B797EE&iss=https%3A%2F%2Fauth.melcloudhome.com
      apigw-requestid:
      - btVcvgUhDoEEMpQ=
    status:
      code: 302
      message: Found
- request:
    body:
      client_id: homemobile
      code: '***REDACTED***'
      code_verifier: '***REDACTED***'
      grant_type: authorization_code
      redirect_uri: melcloudhome://
    headers:
    method: POST
    uri: https://auth.melcloudhome.com/connect/token
  response:
    body:
      string: '{"id_token":"***REDACTED***","access_token":"***REDACTED***","expires_in":3600,"token_type":"Bearer","refresh_token":"***REDACTED***","scope":"openid
        profile email offline_access IdentityServerApi"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      apigw-requestid:
      - btVcwgUzDoEEMpQ=
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - '***REDACTED***'
    method: GET
    uri: https://mobile.bff.melcloudhome.com/telemetry/telemetry/actual/aaaaaaaa-aaaa-aaaa-aaaa-98d77a4b9665?from=2026-01-14+12:00&to=2026-01-14+16:00&measure=flow_temperature
  response:
    body:
      string: '{"measureData":[{"deviceId":"aaaaaaaa-aaaa-aaaa-aaaa-98d77a4b9665","type":"flowTemperature","values":[{"time":"2026-01-12
        22:00:42.925000000","value":"47.5"},{"time":"2026-01-14 12:48:44.047000000","value":"29.5"},{"time":"2026-01-14
        12:56:44.262000000","value":"32.0"},{"time":"2026-01-14 12:58:43.944000000","value":"33.5"},{"time":"2026-01-14
        13:00:43.382000000","value":"35.5"},{"time":"2026-01-14 13:02:43.927000000","value":"40.0"},{"time":"2026-01-14
        13:04:43.647000000","value":"44.0"},{"time":"2026-01-14 13:06:44.042000000","value":"47.0"},{"time":"2026-01-14
        13:08:43.686000000","value":"49.5"},{"time":"202[...]
