interactions:
- request:
    body:
      client_id: homemobile
      code_challenge: GWTCg0JxHH_6o0UvYbKXQdvds2lmmWPgYusWJeR01Io
      code_challenge_method: S256
      redirect_uri: melcloudhome://
      response_type: code
      scope: openid profile email offline_access IdentityServerApi
      state: oK1XfnZKChh7Sf_OFUA_iQ
    headers:
    method: POST
    uri: https://auth.melcloudhome.com/connect/par
  response:
    body:
      string: '{"request_uri":"urn:ietf:params:oauth:request_uri:A49DE769D12CE7231065B1D73DAF8744D9F5A4F40DFF6CAB7D4BBF6524DF5693","expires_in":600}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      apigw-requestid:
      - btTbyggwjoEEPCA=
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/connect/authorize?client_id=homemobile&request_uri=urn:ietf:params:oauth:request_uri:A49DE769D12CE7231065B1D73DAF8744D9F5A4F40DFF6CAB7D4BBF6524DF5693
  response:
    body: {}
    headers:
      Location:
      - https://auth.melcloudhome.com/Account/Login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AA49DE769D12CE7231065B1D73DAF8744D9F5A4F40DFF6CAB7D4BBF6524DF5693%26client_id%3Dhomemobile
      apigw-requestid:
      - btTbzh0ijoEEPcw=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/Account/Login?ReturnUrl=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AA49DE769D12CE7231065B1D73DAF8744D9F5A4F40DFF6CAB7D4BBF6524DF5693%26client_id%3Dhomemobile
  response:
    body: {}
    headers:
      Location:
      - /ExternalLogin/Challenge?scheme=cognito-meu&returnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AA49DE769D12CE7231065B1D73DAF8744D9F5A4F40DFF6CAB7D4BBF6524DF5693%26client_id%3Dhomemobile
      apigw-requestid:
      - btTbzg1sDoEEPhg=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/ExternalLogin/Challenge?scheme=cognito-meu&returnUrl=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AA49DE769D12CE7231065B1D73DAF8744D9F5A4F40DFF6CAB7D4BBF6524DF5693%26client_id%3Dhomemobile
  response:
    body: {}
    headers:
      Location:
      - https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/oauth2/authorize?client_id=3g4d5l5kivuqi7oia68[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/oauth2/authorize?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=Jv_Xggx24DM05DsH811BAi7kywsAVwJxhWYhMIgwiR4&code_challenge_method=S256&response_mode=form_post&nonce=639115960560413836.ZGUzZjI1YjctZjI2OC00MDY5LWExMDgtMWQ0YTYyNTIyODc3N2I3MWQ0M2ItZmNmZS00ZjNmLTgyZDgtNTEyNzc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/login?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=Jv_Xggx24DM05DsH811BAi7kywsAVwJxhWYhMIgwiR4&code_challenge_method=S256&response_mode=form_post&nonce=639115960560413836.ZGUzZjI1YjctZjI2OC00MDY5LWExMDgtMWQ0YTYyNTIyODc3N2I3MWQ0M2ItZmNmZS00ZjNmLTgyZDgtNTEyNzc4ZDNjNzU4&state=CfDJ8IRLia7XffNJh2SAFm28gtlTIqdF8TVBE4-3_VfTkU52MShzcetcEf30MEzNg4Qwp93kO1oe0fxvY4GfiuzWGAaxp8Vu3ZWkkSrTFLBlgLJU0sJmF2VcLZkvLU7JBhERRiQx18fnJRgIPKoPqvNrJBgQDJ-pwudFDbVYQdTO2K4jT9z2ewneLagjnZdR6AcGCZj21e9OLrx_5Dmh-bF_Yor0SedcdaSBunhajNs1p17lIRVfPooaNVPsLoDq_cCqGJtH9mGGk6Qcqt5x2ONs-ZAITyBKaVSCbcF9odDfXoZXxnJo42dKYA-qLvfOgb9p2aAe5BOPU5-fm5tOk7pr6lhs2Q8f3D9yhW6zGRvnET3TTQSf1yT5S2RgT_-8IKGEO81IU3rBC2mYd2kgGbwmd0FxgtASXRzgszVwVMKWju8f6wvSd3fhcYEtGnnYe6cTbJzm48ncOAoHzilEBkrgZhzapXBEP7mYNJuAaIvQ9P6l4gX5iFStH04lk7oEM8887lHuEguY_b6S2CmeHE5Jng6iVeT17URnhQMrJYoduN3vmV4TTo7reUjJmrUbL1CIf7UrXysY0cS_q_BWSIk-xKGHipjHB60iIBNF690eUybDvz3bzM68h-UwEhwXK8eaSasO9a7gVsCXniFoNMWlI4Amfs-lH0w9kI3BhmAibbC9&x-client-SKU=ID_NET8_0&x-client-ver=7.1.2.0
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head><head>\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/css/bootstrap.min.css\"
        rel=\"stylesheet\"\n        media=\"screen\" />\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/css/cognito-login.css\"
        rel=\"stylesheet\"\n        media=\"screen\" />\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/eu-west-1_gFEQiVmPM/3g4d5l5kivuqi7oia68gib7uso/20250401160518/assets/CSS/custom-css.css\"
        rel=\"stylesheet\" media=\"screen\" />\n    <title>Signin</title>\n\n    <script
        src=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/js/amazon-cognito-advanced-security-data.min.js\"
        ></script>\n    <script>\n    function getAdvancedSecurityData(formReference)
        {\n        if (typeof AmazonCognitoAdvancedSecurityData === \"undefined\")
        {\n            return true;\n        }\n\n        // UserpoolId is not available
        on frontend for springboard. We do not use userPoolId\n        // anyway other
        than put in context data. \n        var userPoolId = \"\";\n        var clientId
        = getUrlParameter(\"client_id\");\n\n        var username = \"\";\n        var
        use[...]
- request:
    body:
      _csrf: '***REDACTED***'
      cognitoAsfData: ''
      password: '***REDACTED***'
      username: '***REDACTED_EMAIL***'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/login?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=Jv_Xggx24DM05DsH811BAi7kywsAVwJxhWYhMIgwiR4&code_challenge_method=S256&response_mode=form_post&nonce=639115960560413836.ZGUzZjI1YjctZjI2OC00MDY5LWExMDgtMWQ0Y[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/signin-oidc-meu?code=63205f37-54b4-4084-92f8-ac4cf16033ab&state=CfDJ8IRLia7XffNJh2SAFm28gtlTIqdF8TVBE4-3_VfTkU52MShzcetcEf30MEzNg4Qwp93kO1oe0fxvY4GfiuzWGAaxp8Vu3ZWkkSrTFLBlgLJU0sJmF2VcLZkvLU7JBhERRiQx18fnJRgIPKoPqvNrJBgQDJ-pwudFDbVYQdTO2K4jT9z2ewneLagjnZdR6AcGCZj21e9OLrx_5Dmh-bF_Yor0SedcdaSBunhajNs1p17lIRVfPooaNVPsLoDq_cCqGJtH9mGGk6Qcqt5x2ONs-ZAITyBKaVSCbcF9odDfXoZXxnJo42dKYA-qLvfOgb9p2aAe5BOPU5-fm5tOk7pr6lhs2Q8f3D9yhW6zGRvnET3TTQSf1yT5S2RgT_-8IKGEO81IU3rBC2mYd2kgGbwmd0FxgtASXRzgszVwVMKWju8f6wvSd3fhcYEtGnnYe6cTbJzm48ncOAoHzilEBkrgZhzapXBEP7mYNJuAaIvQ9P6l4gX5iFStH04lk7oEM8887lHuEguY_b6S2CmeHE5Jng6iVeT17URnhQMrJYoduN3vmV4TTo7reUjJmrUbL1CIf7UrXysY0cS_q_BWSIk-xKGHipjHB60iIBNF690eUybDvz3bzM68h-UwEhwXK8eaSasO9a7gVsCXniFoNMWlI4Amfs-lH0w9kI3BhmAibbC9
  response:
    body: {}
    headers:
      Location:
      - /ExternalLogin/Callback
      apigw-requestid:
      - btTb7hbNDoEEP1Q=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/ExternalLogin/Callback
  response:
    body: {}
    headers:
      Location:
      - /Redirect?RedirectUri=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AA49DE769D12CE7231065B1D73DAF8744D9F5A4F40DFF6CAB7D4BBF6524DF5693%26client_id%3Dhomemobile
      apigw-requestid:
      - btTb9jCADoEEPsw=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/Redirect?RedirectUri=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AA49DE769D12CE7231065B1D73DAF8744D9F5A4F40DFF6CAB7D4BBF6524DF5693%26client_id%3Dhomemobile
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\"
        />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0, shrink-to-fit=no\"
        />\n\n    <title>MELCloud Home</title>\n    \n    <link rel=\"stylesheet\"
        href=\"/lib/bootstrap/dist/css/bootstrap.min.css\" />\n    <link rel=\"stylesheet\"
        href=\"/lib/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css\" />\n
        \   <link rel=\"stylesheet\" href=\"/css/site.css\" />\n    <link rel=\"stylesheet\"
        href=\"/css/layout.css\" />\n</head>\n<body>\n    \n<header class=\"gs18-Header
        gs18-Header--MinInteraction gs18-Header--NoSearch\" role=\"banner\" data-js-gs18-header>\n
        \   <div class=\"gs18-Header__Inner\" style=\"height:85px\">\n        <a href=\"\"
        style=\"position:absolute;\"><img src=\"/logo_with_name.png\" style=\"height:85px;\"
        alt=\"MITSUBISHI ELECTRIC\"></a>\n        <nav class=\"gs18-HeaderNav\" id=\"navMenu\">\n
        \               <ul class=\"gs18-HeaderNav__Menu\" style=\"width:100%\">\n
        \                   <li class=\"nav-item dropdown gs18-HeaderNav__Item\" style=\"color:black
        !important;\">\n                    <a href=\"#\" class=\"nav-link dropdown-toggle
        gs18-HeaderNav__Text\" data-toggle=\"dropdown\">***REDACTED_EMAIL*** <b class=\"caret\"></b></a>\n\n
        \                   <div class=\"dropdown-menu\">\n                        <a
        class=\"dropdown-item\" href=\"/Account/Logout\">Logout</a>\n                    </div>\n
        \               </li>\n            </ul[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/connect/authorize/callback?request_uri=urn:ietf:params:oauth:request_uri:A49DE769D12CE7231065B1D73DAF8744D9F5A4F40DFF6CAB7D4BBF6524DF5693&client_id=homemobile
  response:
    body:
      string: ''
    headers:
      Location:
      - melcloudhome://?code=9E45C6B19788CA1CFF72748AB5C9FD7B409FE0B2A5DC66C44940E2148A8283B2-1&scope=openid%20profile%20email%20offline_access%20IdentityServerApi&state=oK1XfnZKChh7Sf_OFUA_iQ&session_state=M326VMMeeXe9s9pAjTLbREnDVkIiXXViyD3ycLEjwMg.95991B98BA54186BDBA67BFE84CEDB42&iss=https%3A%2F%2Fauth.melcloudhome.com
      apigw-requestid:
      - btTb_gyRjoEEQlA=
    status:
      code: 302
      message: Found
- request:
    body:
      client_id: homemobile
      code: '***REDACTED***'
      code_verifier: '***REDACTED***'
      grant_type: authorization_code
      redirect_uri: melcloudhome://
    headers:
    method: POST
    uri: https://auth.melcloudhome.com/connect/token
  response:
    body:
      string: '{"id_token":"***REDACTED***","access_token":"***REDACTED***","expires_in":3600,"token_type":"Bearer","refresh_token":"***REDACTED***","scope":"openid
        profile email offline_access IdentityServerApi"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      apigw-requestid:
      - btTcAjcqjoEEPQA=
    status:
      code: 200
      message: OK
- request:
    body:
      inStandbyMode: null
      operationMode: null
      power: null
      setFanSpeed: Three
      setTemperature: null
      temperatureIncrementOverride: null
      vaneHorizontalDirection: null
      vaneVerticalDirection: null
    headers:
      authorization:
      - '***REDACTED***'
    method: PUT
    uri: https://mobile.bff.melcloudhome.com/monitor/ataunit/aaaaaaaa-aaaa-aaaa-aaaa-1f2e69275164
  response:
    body:
      string: ''
    headers:
      apigw-requestid:
      - btTcCgm-joEEJuQ=
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - '***REDACTED***'
    method: GET
    uri: https://mobile.bff.melcloudhome.com/context
  response:
    body:
      string: '{"id":"aaaaaaaa-aaaa-aaaa-aaaa-225daa9f9fd6","firstname":"***REDACTED***","lastname":"***REDACTED***","email":"***REDACTED_EMAIL***","language":"en","country":"GB","numberOfDevicesAllowed":10,"numberOfBuildingsAllowed":2,"numberOfGuestUsersAllowedPerUnit":5,"numberOfGuestDevicesAllowed":10,"buildings":[],"guestBuildings":[{"id":"aaaaaaaa-aaaa-aaaa-aaaa-bee6d2e10220","name":"***REDACTED_BUILDING***","timezone":"Europe/London","airToAirUnits":[{"id":"aaaaaaaa-aaaa-aaaa-aaaa-1f2e69275164","givenDisplayName":"***REDACTED_DEVICE***","displayIcon":"DiningRoom","unitSettings":null,"settings":[{"name":"RoomTemperature","value":"19"},{"name":"Power","value":"False"},{"name":"OperationMode","value":"Automatic"},{"name":"ActualFanSpeed","value":"Off"},{"name":"SetFanSpeed","value":"Three"},{"name":"VaneHorizontalDirection","value":"Swing"},{"name":"VaneVerticalDirection","value":"Auto"},{"name":"InStandbyMode","value":"False"},{"name":"SetTemperature","value":"21.5"},{"name":"IsInError","value":"False"},{"name":"ErrorCode","value":""}],"schedule":[{"days":["sunday","monday","tuesday","wednesday","thursday","friday","saturday"],"time":"07:00:00","enabled":true,"id":"aaaaaaaa-aaaa-aaaa-aaaa-2ae315d78599","power":true,"operationMode":"heat","setPoint":20,"vaneVerticalDirection":"swing","vaneHorizontalDirection":"swing","setFanSpeed":"three"},{"days":["sunday","monday","tuesday","wednesday","thursday","friday","saturday"],"time":"08:00:00","enabled":true,"id":"aaaaaaaa-aaaa-aaaa-aaaa-f5606aba5918","power":false,"operationMode":null,"setPoint":null,"vaneVerticalDirection":null,"vaneHorizontalDirection":null,"setFanSpeed":null},{"days":["monday","sunday","tuesday","wednesday","thursday","friday","saturday"],"time":"20:27:00","enabled":true,"id":"aaaaaaaa-aaaa-aaaa-aaaa-1883e302256e","power":true,"operationMode":"heat","setPoint":19,"vaneVerticalDirection":"auto","vaneHorizontalDirection":"centre","setFanSpeed":"one"},{"days":["monday","sunday","tuesday","wednesday","thursday","friday","saturday"],"time":"20:29:00","enabled":true,"id":"aaaaaaaa-aaaa-aaaa-aaaa-0edd0bf40642","power":false,"operationMode":null,"setPoint":null,"vaneVerticalDirection":null,"vaneHorizontalDirection":null,"setFanSpeed":null}],"isInError":false,"scheduleEnabled":false,"connectedInterfaceIdentifier":"***REDACTED_MAC***","capabilities":{"isMultiSplitSystem":true,"isLegacyDevice":false,"hasStandby":true,"hasCoolOperationMode":true,"hasHeatOperationMode":true,"hasAutoOperationMode":true,"hasDryOperationMode":true,"hasAutomaticFanSpeed":true,"hasAirDirection":true,"hasSwing":true,"hasExtendedTemperatureRange":true,"hasEnergyConsumedMeter":true,"numberOfFanSpeeds":5,"minTempCoolDry":16,"maxTempCoolDry":31,"minTempHeat":10,"maxTempHeat":31,"minTempAutomatic":16,"maxTempAutomatic":31,"hasDemandSideControl":true,"hasHalfDegreeIncrements":true,"supportsWideVane":false},"rssi":-67,"timeZone":"Europe/London","frostProtection":{"active":false,"enabled":false,"min":10,"max":12},"overheatProtection":{"active":false,"enabled":false,"min":35,"max":37},"holidayMode":{"enabled":false,"startDate":"2026-01-12T20:26:12.802","endDate":"2026-01-12T21:00:00","active":false},"isConnected":true,"connectedInterfaceType":"fourthGenWifi","systemId":null},{"id":"aaaaaaaa-aaaa-aaaa-aaaa-3dc9a6f7f311","givenDisplayName":"***REDACTED_DEVICE***","displayIcon":"LivingRoom","unitSettings":null,"settings":[{"name":"RoomTemperature","value":"18.5"},{"name":"Power","value":"False"},{"name":"OperationMode","value":"Heat"},{"name":"ActualFanSpeed","value":"Off"},{"name":"SetFanSpeed","value":"Auto"},{"name":"VaneHorizontalDirection","value":"Centre"},{"name":"VaneVerticalDirection","value":"Auto"},{"name":"InStandbyMode","value":"False"},{"name":"SetT[...]
