interactions:
- request:
    body:
      client_id: homemobile
      code_challenge: GWTCg0JxHH_6o0UvYbKXQdvds2lmmWPgYusWJeR01Io
      code_challenge_method: S256
      redirect_uri: melcloudhome://
      response_type: code
      scope: openid profile email offline_access IdentityServerApi
      state: oK1XfnZKChh7Sf_OFUA_iQ
    headers:
    method: POST
    uri: https://auth.melcloudhome.com/connect/par
  response:
    body:
      string: '{"request_uri":"urn:ietf:params:oauth:request_uri:034D7F8D7F7C6172B232FD0121BE50D798FE40E51AE13145EEE7B45E4427F5C3","expires_in":600}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      apigw-requestid:
      - CizE3in9DoEEMog=
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/connect/authorize?client_id=homemobile&request_uri=urn:ietf:params:oauth:request_uri:034D7F8D7F7C6172B232FD0121BE50D798FE40E51AE13145EEE7B45E4427F5C3
  response:
    body: {}
    headers:
      Location:
      - https://auth.melcloudhome.com/Account/Login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A034D7F8D7F7C6172B232FD0121BE50D798FE40E51AE13145EEE7B45E4427F5C3%26client_id%3Dhomemobile
      apigw-requestid:
      - CizE4jJVjoEEM8g=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/Account/Login?ReturnUrl=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A034D7F8D7F7C6172B232FD0121BE50D798FE40E51AE13145EEE7B45E4427F5C3%26client_id%3Dhomemobile
  response:
    body: {}
    headers:
      Location:
      - /ExternalLogin/Challenge?scheme=cognito-meu&returnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A034D7F8D7F7C6172B232FD0121BE50D798FE40E51AE13145EEE7B45E4427F5C3%26client_id%3Dhomemobile
      apigw-requestid:
      - CizE5jqQjoEEMqw=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/ExternalLogin/Challenge?scheme=cognito-meu&returnUrl=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A034D7F8D7F7C6172B232FD0121BE50D798FE40E51AE13145EEE7B45E4427F5C3%26client_id%3Dhomemobile
  response:
    body: {}
    headers:
      Location:
      - https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/oauth2/authorize?client_id=3g4d5l5kivuqi7oia68[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/oauth2/authorize?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=fISHNnTRDcYJ6L6bHXtV6xcPrOieMnH05WLAYYoaa7c&code_challenge_method=S256&response_mode=form_post&nonce=639230647092620524.NGE0Y2QzMTgtYWRjOC00M2ZjLTk2NDctZTE3ZjYzMjc1MGI2ZWY5MTA1YWItODk3Yy00ZDRmLWIyYWMtNDA2MTE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/login?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=fISHNnTRDcYJ6L6bHXtV6xcPrOieMnH05WLAYYoaa7c&code_challenge_method=S256&response_mode=form_post&nonce=639230647092620524.NGE0Y2QzMTgtYWRjOC00M2ZjLTk2NDctZTE3ZjYzMjc1MGI2ZWY5MTA1YWItODk3Yy00ZDRmLWIyYWMtNDA2MTEyNTQzODhm&state=CfDJ8I9HYxO_M3FJmqyQy6voCjL1mYntiQa3jXH9wdjaijLAqQOvqQ_ctMBFhvk61oi47vX-ajSqX4trvt3y6sb0TCfVXig2qw9h5dE9VDIjYckA1Xmm6x4aWKn_szCzJKoEYFz92s6nbniIDVwJhl4y6Pwo6JpO9upDabHE0Ke0LdKyaz_JY3Asjv8oxeuq936Mh4YvoDLJt7sk7jbi-iZDpKtBFXtCHJPBW5w0_UHv7dIdJSnJ0mqqK0RnkG5d4byGFMMVMohnHqu0AeG4jz0llgByN4tqRP9zMhr8XeIzV0IdcPwV718_BxlWCj9cnRbUBLxWqRIIcyqK1wIOdbC3Qy708oi54D8f2OysMEqeqJDfjyaA-FkBGOzeiIBqtTWU-WX-NCFoLyqPHaptKFBxUJOs1tzItGecIQyx00ORITazsE8jGoOO82e2bWPULQMM-tkO_PWxFzguXtUOP-yfXhwh_MaeCaxFDpP_Kmm5H1Q7XCwRXsWk6rx5qpHITVcyKUe7IR57PLnoiPi3dj5lt26svYEbn5tJUI3hn_4-mjtjx3qoZZO2O3liNhwEPdC7gIk6sYD3Z7XrynT5zSH2A30c6KizD-CGkVUbac3KKui38EZEyiRZbnAXGbGXBS0xOoEyqXdK445fPPo4Z8ZvKrsY5k5CtcMYbhJffXtHauAF&x-client-SKU=ID_NET8_0&x-client-ver=7.1.2.0
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head><head>\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/css/bootstrap.min.css\"
        rel=\"stylesheet\"\n        media=\"screen\" />\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/css/cognito-login.css\"
        rel=\"stylesheet\"\n        media=\"screen\" />\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/eu-west-1_gFEQiVmPM/3g4d5l5kivuqi7oia68gib7uso/20250401160518/assets/CSS/custom-css.css\"
        rel=\"stylesheet\" media=\"screen\" />\n    <title>Signin</title>\n\n    <script
        src=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/js/amazon-cognito-advanced-security-data.min.js\"
        ></script>\n    <script>\n    function getAdvancedSecurityData(formReference)
        {\n        if (typeof AmazonCognitoAdvancedSecurityData === \"undefined\")
        {\n            return true;\n        }\n\n        // UserpoolId is not available
        on frontend for springboard. We do not use userPoolId\n        // anyway other
        than put in context data. \n        var userPoolId = \"\";\n        var clientId
        = getUrlParameter(\"client_id\");\n\n        var username = \"\";\n        var
        use[...]
- request:
    body:
      _csrf: '***REDACTED***'
      cognitoAsfData: ''
      password: '***REDACTED***'
      username: '***REDACTED_EMAIL***'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/login?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=fISHNnTRDcYJ6L6bHXtV6xcPrOieMnH05WLAYYoaa7c&code_challenge_method=S256&response_mode=form_post&nonce=639230647092620524.NGE0Y2QzMTgtYWRjOC00M2ZjLTk2NDctZTE3Z[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/signin-oidc-meu?code=83edaded-64b0-4f5d-adb2-5e7a6b10ece0&state=CfDJ8I9HYxO_M3FJmqyQy6voCjL1mYntiQa3jXH9wdjaijLAqQOvqQ_ctMBFhvk61oi47vX-ajSqX4trvt3y6sb0TCfVXig2qw9h5dE9VDIjYckA1Xmm6x4aWKn_szCzJKoEYFz92s6nbniIDVwJhl4y6Pwo6JpO9upDabHE0Ke0LdKyaz_JY3Asjv8oxeuq936Mh4YvoDLJt7sk7jbi-iZDpKtBFXtCHJPBW5w0_UHv7dIdJSnJ0mqqK0RnkG5d4byGFMMVMohnHqu0AeG4jz0llgByN4tqRP9zMhr8XeIzV0IdcPwV718_BxlWCj9cnRbUBLxWqRIIcyqK1wIOdbC3Qy708oi54D8f2OysMEqeqJDfjyaA-FkBGOzeiIBqtTWU-WX-NCFoLyqPHaptKFBxUJOs1tzItGecIQyx00ORITazsE8jGoOO82e2bWPULQMM-tkO_PWxFzguXtUOP-yfXhwh_MaeCaxFDpP_Kmm5H1Q7XCwRXsWk6rx5qpHITVcyKUe7IR57PLnoiPi3dj5lt26svYEbn5tJUI3hn_4-mjtjx3qoZZO2O3liNhwEPdC7gIk6sYD3Z7XrynT5zSH2A30c6KizD-CGkVUbac3KKui38EZEyiRZbnAXGbGXBS0xOoEyqXdK445fPPo4Z8ZvKrsY5k5CtcMYbhJffXtHauAF
  response:
    body: {}
    headers:
      Location:
      - /ExternalLogin/Callback
      apigw-requestid:
      - CizFBiUojoEEM1Q=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/ExternalLogin/Callback
  response:
    body: {}
    headers:
      Location:
      - /Redirect?RedirectUri=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A034D7F8D7F7C6172B232FD0121BE50D798FE40E51AE13145EEE7B45E4427F5C3%26client_id%3Dhomemobile
      apigw-requestid:
      - CizFDhTzDoEEMDQ=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/Redirect?RedirectUri=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253A034D7F8D7F7C6172B232FD0121BE50D798FE40E51AE13145EEE7B45E4427F5C3%26client_id%3Dhomemobile
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\"
        />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0, shrink-to-fit=no\"
        />\n\n    <title>MELCloud Home</title>\n\n    <link rel=\"stylesheet\" href=\"/lib/bootstrap/dist/css/bootstrap.min.css\"
        />\n    <link rel=\"stylesheet\" href=\"/lib/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css\"
        />\n    <link rel=\"stylesheet\" href=\"/css/site.css\" />\n    <link rel=\"stylesheet\"
        href=\"/css/layout.css\" />\n\n    \n</head>\n<body>\n    \n<header class=\"gs18-Header
        gs18-Header--MinInteraction gs18-Header--NoSearch\" role=\"banner\" data-js-gs18-header>\n
        \   <div class=\"gs18-Header__Inner\" style=\"height:85px\">\n        <a href=\"\"
        style=\"position:absolute;\"><img src=\"/logo_with_name.png\" style=\"height:85px;\"
        alt=\"MITSUBISHI ELECTRIC\"></a>\n        <nav class=\"gs18-HeaderNav\" id=\"navMenu\">\n
        \               <ul class=\"gs18-HeaderNav__Menu\" style=\"width:100%\">\n
        \                   <li class=\"nav-item dropdown gs18-HeaderNav__Item\" style=\"color:black
        !important;\">\n                    <a href=\"#\" class=\"nav-link dropdown-toggle
        gs18-HeaderNav__Text\" data-toggle=\"dropdown\">***REDACTED_EMAIL*** <b class=\"caret\"></b></a>\n\n
        \                   <div class=\"dropdown-menu\">\n                        <a
        class=\"dropdown-item\" href=\"/Account/Logout\">Logout</a>\n                    </div>\n
        \               </li>\n            </ul[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/connect/authorize/callback?request_uri=urn:ietf:params:oauth:request_uri:034D7F8D7F7C6172B232FD0121BE50D798FE40E51AE13145EEE7B45E4427F5C3&client_id=homemobile
  response:
    body:
      string: ''
    headers:
      Location:
      - melcloudhome://?code=DEAF57F087EC1267677A17AE7A83534838C90B42D7750975AF9632C098C4403E-1&scope=openid%20profile%20email%20offline_access%20IdentityServerApi&state=oK1XfnZKChh7Sf_OFUA_iQ&session_state=_EzkenaJYg2HvGAy-qVnUZbLBLn26ukHOcr3_Bh5Ilo.5D8CDBCFFE4C661297F66ADFC4AFA682&iss=https%3A%2F%2Fauth.melcloudhome.com
      apigw-requestid:
      - CizFEivwDoEEMLg=
    status:
      code: 302
      message: Found
- request:
    body:
      client_id: homemobile
      code: '***REDACTED***'
      code_verifier: '***REDACTED***'
      grant_type: authorization_code
      redirect_uri: melcloudhome://
    headers:
    method: POST
    uri: https://auth.melcloudhome.com/connect/token
  response:
    body:
      string: '{"id_token":"***REDACTED***","access_token":"***REDACTED***","expires_in":3600,"token_type":"Bearer","refresh_token":"***REDACTED***","scope":"openid
        profile email offline_access IdentityServerApi"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      apigw-requestid:
      - CizFFhEMDoEEMOg=
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - '***REDACTED***'
    method: GET
    uri: https://mobile.bff.melcloudhome.com/context
  response:
    body:
      string: '{"id":"aaaaaaaa-aaaa-aaaa-aaaa-e02c4382eb85","firstname":"***REDACTED***","lastname":"***REDACTED***","email":"***REDACTED_EMAIL***","language":"en","country":"GB","numberOfDevicesAllowed":10,"numberOfBuildingsAllowed":2,"numberOfGuestUsersAllowedPerUnit":5,"numberOfGuestDevicesAllowed":10,"buildings":[],"guestBuildings":[{"id":"aaaaaaaa-aaaa-aaaa-aaaa-f90937ac0297","name":"***REDACTED_BUILDING***","timezone":"Europe/London","airToAirUnits":[{"unitSettings":null,"schedule":[],"scheduleEnabled":true,"connectedInterfaceIdentifier":"***REDACTED_MAC***","capabilities":{"isMultiSplitSystem":true,"isLegacyDevice":false,"hasStandby":true,"hasCoolOperationMode":true,"hasHeatOperationMode":true,"hasAutoOperationMode":true,"hasDryOperationMode":true,"hasAutomaticFanSpeed":true,"hasAirDirection":true,"hasSwing":true,"hasExtendedTemperatureRange":true,"hasEnergyConsumedMeter":true,"numberOfFanSpeeds":5,"minTempCoolDry":16,"maxTempCoolDry":31,"minTempHeat":10,"maxTempHeat":31,"minTempAutomatic":16,"maxTempAutomatic":31,"hasDemandSideControl":true,"hasHalfDegreeIncrements":true,"supportsWideVane":false},"frostProtection":{"active":false,"enabled":true,"min":10,"max":12},"overheatProtection":{"active":false,"enabled":false,"min":35,"max":37},"holidayMode":{"enabled":false,"startDate":"2026-07-28T07:44:00.966","endDate":"2026-07-28T07:44:00","active":false},"connectedInterfaceType":"fourthGenWifi","systemId":null,"id":"aaaaaaaa-aaaa-aaaa-aaaa-4c6fd61ac825","givenDisplayName":"***REDACTED_DEVICE***","displayIcon":"DiningRoom","settings":[{"name":"RoomTemperature","value":"20.5"},{"name":"Power","value":"False"},{"name":"OperationMode","value":"Cool"},{"name":"ActualFanSpeed","value":"Off"},{"name":"SetFanSpeed","value":"Auto"},{"name":"VaneHorizontalDirection","value":"Swing"},{"name":"VaneVerticalDirection","value":"Five"},{"name":"InStandbyMode","value":"False"},{"name":"SetTemperature","value":"21"},{"name":"IsInError","value":"False"},{"name":"ErrorCode","value":""}],"timeZone":"Europe/London","rssi":-39,"isConnected":true,"isInError":false},{"unitSettings":null,"schedule":[],"scheduleEnabled":false,"connectedInterfaceIdentifier":"***REDACTED_MAC***","capabilities":{"isMultiSplitSystem":true,"isLegacyDevice":false,"hasStandby":true,"hasCoolOperationMode":true,"hasHeatOperationMode":true,"hasAutoOperationMode":true,"hasDryOperationMode":true,"hasAutomaticFanSpeed":true,"hasAirDirection":true,"hasSwing":true,"hasExtendedTemperatureRange":true,"hasEnergyConsumedMeter":true,"numberOfFanSpeeds":5,"minTempCoolDry":16,"maxTempCoolDr[...]
- request:
    body: null
    headers:
      authorization:
      - '***REDACTED***'
    method: GET
    uri: https://mobile.bff.melcloudhome.com/report/v1/internaltemperatures?unitId=aaaaaaaa-aaaa-aaaa-aaaa-6b6529f39911&period=Hourly&from=2026-08-22T22:00:00.0000000&to=2026-08-23T06:00:00.0000000
  response:
    body:
      string: '[{"reportPeriod":"hourly","datasets":[{"id":"set_tank_water_temperature","label":"REPORT.INTEMP_REPORT.DATASET.LABELS.SET_TANK_TEMPERATURE","data":[{"x":"2026-08-22T00:00:00","y":50},{"x":"2026-08-22T01:00:00","y":50},{"x":"2026-08-22T02:00:00","y":50},{"x":"2026-08-22T03:00:00","y":50},{"x":"2026-08-22T04:00:00","y":50},{"x":"2026-08-22T05:00:00","y":50},{"x":"2026-08-22T06:00:00","y":50},{"x":"2026-08-22T07:00:00","y":50},{"x":"2026-08-22T08:00:00","y":50},{"x":"2026-08-22T09:00:00","y":50},{"x":"2026-08-22T10:00:00","y":50},{"x":"2026-08-22T11:00:00","y":50},{"x":"2026-08-22T12:00:00","y":50},{"x":"2026-08-22T13:00:00","y":50},{"x":"2026-08-22T14:00:00","y":50},{"x":"2026-08-22T15:00:00","y":50},{"x":"2026-08-22T16:00:00","y":50},{"x":"2026-08-22T17:00:00","y":50},{"x":"2026-08-22T18:00:00","y":50},{"x":"2026-08-22T19:00:00","y":50},{"x":"2026-08-22T20:00:00","y":50},{"x":"2026-08-22T21:00:00","y":50},{"x":"2026-08-22T22:00:00","y":50},{"x":"2026-08-22T23:00:00","y":50},{"x":"2026-08-23T00:00:00","y":50},{"x":"2026-08-23T01:00:00","y":50},{"x":"2026-08-23T02:00:00","y":50},{"x":"2026-08-23T03:00:00","y":50},{"x":"2026-08-23T04:00:00","y":50},{"x":"2026-08-23T05:00:00","y":50},{"x":"2026-08-23T06:00:00","y":50}],"backgroundColor":"#EEDD11","borderColor":"#EEDD11","yAxisId":"yTemp","pointRadius":0,"lineTension":0,"borderWidth":2,"stepped":true,"spanGaps":false,"isNonInteractive":false,"hidden":false},{"id":"tank_water_temperature","label":"REPORT.INTEMP_REPORT.DATASET.LABELS.TANK_TEMPERATURE","data":[{"x":"2026-08-22T00:51:16","y":49},{"x":"2026-08-22T01:00:00","y":49},{"x":"2026-08-22T02:00:00","y":49},{"x":"2026-08-22T02:32:15","y":48.5},{"x":"2026-08-22T03:00:00","y":48.5},{"x":"2026-08-22T04:00:00","y":48.5},{"x":"2026-08-22T04:15:16","y":48},{"x":"2026-08-22T05:00:00","y":48},{"x":"2026-08-22T05:29:15","y":47.5},{"x":"2026-08-22T06:00:00","y":47.5},{"x":"2026-08-22T06:42:16","y":[...]
