interactions:
- request:
    body:
      client_id: homemobile
      code_challenge: GWTCg0JxHH_6o0UvYbKXQdvds2lmmWPgYusWJeR01Io
      code_challenge_method: S256
      redirect_uri: melcloudhome://
      response_type: code
      scope: openid profile email offline_access IdentityServerApi
      state: oK1XfnZKChh7Sf_OFUA_iQ
    headers:
    method: POST
    uri: https://auth.melcloudhome.com/connect/par
  response:
    body:
      string: '{"request_uri":"urn:ietf:params:oauth:request_uri:D8CA8CC425A862F785479B23ECBE002046EA98ABFC367834EBA1666F7B2FBD1B","expires_in":600}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      apigw-requestid:
      - btVe5geTjoEEMGg=
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/connect/authorize?client_id=homemobile&request_uri=urn:ietf:params:oauth:request_uri:D8CA8CC425A862F785479B23ECBE002046EA98ABFC367834EBA1666F7B2FBD1B
  response:
    body: {}
    headers:
      Location:
      - https://auth.melcloudhome.com/Account/Login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AD8CA8CC425A862F785479B23ECBE002046EA98ABFC367834EBA1666F7B2FBD1B%26client_id%3Dhomemobile
      apigw-requestid:
      - btVe6j-UDoEEM1A=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/Account/Login?ReturnUrl=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AD8CA8CC425A862F785479B23ECBE002046EA98ABFC367834EBA1666F7B2FBD1B%26client_id%3Dhomemobile
  response:
    body: {}
    headers:
      Location:
      - /ExternalLogin/Challenge?scheme=cognito-meu&returnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AD8CA8CC425A862F785479B23ECBE002046EA98ABFC367834EBA1666F7B2FBD1B%26client_id%3Dhomemobile
      apigw-requestid:
      - btVe7hxejoEEMOQ=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/ExternalLogin/Challenge?scheme=cognito-meu&returnUrl=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AD8CA8CC425A862F785479B23ECBE002046EA98ABFC367834EBA1666F7B2FBD1B%26client_id%3Dhomemobile
  response:
    body: {}
    headers:
      Location:
      - https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/oauth2/authorize?client_id=3g4d5l5kivuqi7oia68[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/oauth2/authorize?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=4b3gqIAYGNopN-NM6nja2CkWUbCuAdxdqJ-Q9h6KvOI&code_challenge_method=S256&response_mode=form_post&nonce=639115968951881420.MTE5ZmE5MmYtMTE4Yy00ODZmLWExNGUtYzA1ZjJmZmE3Mzk2NDIyMDM3MGYtOWFjNC00ZThkLTkyNWQtNzFlZWU[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/login?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=4b3gqIAYGNopN-NM6nja2CkWUbCuAdxdqJ-Q9h6KvOI&code_challenge_method=S256&response_mode=form_post&nonce=639115968951881420.MTE5ZmE5MmYtMTE4Yy00ODZmLWExNGUtYzA1ZjJmZmE3Mzk2NDIyMDM3MGYtOWFjNC00ZThkLTkyNWQtNzFlZWUyMzE2MWQz&state=CfDJ8IRLia7XffNJh2SAFm28gtnQvL3z5jBr9zIDFIfWZ9AW2k8g7FhvSzfZIFFDRWGuksciFl_g9YnNxvjQOZ_fXWydg0-3ZSi_yRrgPiCYBA8wgvrDg-4JomJCmnNwQJxJstcmcungGo0junmTwSXblhcXpsS7iayVrJpQamB3srKEN40kgiNEPD8zt8_g4sox_xO9V56RSsBq-P6aLO1jj_P1duXkTyHHNyVBkk8i7_vMRwTK_H2cv01sKj_3MFCEaQmICfbIBdvA8DGsrKfh_i056H-93FWLoJvvE6Ac8SydYQRd-OOBkbJJ7RDYGCAFhtUpeFnLfXI6_NzHbCMEDva5yWJQgSwwcXG8VGhu_kesQpJDL-BualJujMvPa3ScpnOIbh-L4WoNU89Le7p_af-eJwW4F96wH7mjRC0COAee5KLcj4fILTFjUaOZ-OYVyImWg7E90IdEqBD2_cpDwu3ptQNxu-JXACh0I1wBcm_ObXOUa0Iyx9P05lSKcsk9tFIJix8vpKGNdSF_6yVt4I5POr02-5wZcYrSzAIB0hCImbV3Rw3mwq9tsagIjEC9wlRaPaiVYVs9dCeen-LPLDsAiML-hAdfHaycbS9nnfUe7qCC10IPJlpTCgemOrCJCf_nKZxiGLtCrUx4BqoNk-qozOY_VWj47i9DLMHyrK9b&x-client-SKU=ID_NET8_0&x-client-ver=7.1.2.0
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head><head>\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/css/bootstrap.min.css\"
        rel=\"stylesheet\"\n        media=\"screen\" />\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/css/cognito-login.css\"
        rel=\"stylesheet\"\n        media=\"screen\" />\n    <link href=\"https://d2uqej7bo24sqa.cloudfront.net/eu-west-1_gFEQiVmPM/3g4d5l5kivuqi7oia68gib7uso/20250401160518/assets/CSS/custom-css.css\"
        rel=\"stylesheet\" media=\"screen\" />\n    <title>Signin</title>\n\n    <script
        src=\"https://d2uqej7bo24sqa.cloudfront.net/20240614193835/js/amazon-cognito-advanced-security-data.min.js\"
        ></script>\n    <script>\n    function getAdvancedSecurityData(formReference)
        {\n        if (typeof AmazonCognitoAdvancedSecurityData === \"undefined\")
        {\n            return true;\n        }\n\n        // UserpoolId is not available
        on frontend for springboard. We do not use userPoolId\n        // anyway other
        than put in context data. \n        var userPoolId = \"\";\n        var clientId
        = getUrlParameter(\"client_id\");\n\n        var username = \"\";\n        var
        use[...]
- request:
    body:
      _csrf: '***REDACTED***'
      cognitoAsfData: ''
      password: '***REDACTED***'
      username: '***REDACTED_EMAIL***'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://live-melcloudhome.auth.eu-west-1.amazoncognito.com/login?client_id=3g4d5l5kivuqi7oia68gib7uso&redirect_uri=https://auth.melcloudhome.com/signin-oidc-meu&response_type=code&scope=openid%20profile&code_challenge=4b3gqIAYGNopN-NM6nja2CkWUbCuAdxdqJ-Q9h6KvOI&code_challenge_method=S256&response_mode=form_post&nonce=639115968951881420.MTE5ZmE5MmYtMTE4Yy00ODZmLWExNGUtYzA1Z[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/signin-oidc-meu?code=1c71c36e-06be-4a51-a2b3-dd0b362c2982&state=CfDJ8IRLia7XffNJh2SAFm28gtnQvL3z5jBr9zIDFIfWZ9AW2k8g7FhvSzfZIFFDRWGuksciFl_g9YnNxvjQOZ_fXWydg0-3ZSi_yRrgPiCYBA8wgvrDg-4JomJCmnNwQJxJstcmcungGo0junmTwSXblhcXpsS7iayVrJpQamB3srKEN40kgiNEPD8zt8_g4sox_xO9V56RSsBq-P6aLO1jj_P1duXkTyHHNyVBkk8i7_vMRwTK_H2cv01sKj_3MFCEaQmICfbIBdvA8DGsrKfh_i056H-93FWLoJvvE6Ac8SydYQRd-OOBkbJJ7RDYGCAFhtUpeFnLfXI6_NzHbCMEDva5yWJQgSwwcXG8VGhu_kesQpJDL-BualJujMvPa3ScpnOIbh-L4WoNU89Le7p_af-eJwW4F96wH7mjRC0COAee5KLcj4fILTFjUaOZ-OYVyImWg7E90IdEqBD2_cpDwu3ptQNxu-JXACh0I1wBcm_ObXOUa0Iyx9P05lSKcsk9tFIJix8vpKGNdSF_6yVt4I5POr02-5wZcYrSzAIB0hCImbV3Rw3mwq9tsagIjEC9wlRaPaiVYVs9dCeen-LPLDsAiML-hAdfHaycbS9nnfUe7qCC10IPJlpTCgemOrCJCf_nKZxiGLtCrUx4BqoNk-qozOY_VWj47i9DLMHyrK9b
  response:
    body: {}
    headers:
      Location:
      - /ExternalLogin/Callback
      apigw-requestid:
      - btVfEj9uDoEEM0A=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/ExternalLogin/Callback
  response:
    body: {}
    headers:
      Location:
      - /Redirect?RedirectUri=%2Fconnect%2Fauthorize%2Fcallback%3Frequest_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AD8CA8CC425A862F785479B23ECBE002046EA98ABFC367834EBA1666F7B2FBD1B%26client_id%3Dhomemobile
      apigw-requestid:
      - btVfHgiFjoEEMYQ=
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://auth.melcloudhome.com/Redirect?RedirectUri=/connect/authorize/callback?request_uri%3Durn%253Aietf%253Aparams%253Aoauth%253Arequest_uri%253AD8CA8CC425A862F785479B23ECBE002046EA98ABFC367834EBA1666F7B2FBD1B%26client_id%3Dhomemobile
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\"
        />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0, shrink-to-fit=no\"
        />\n\n    <title>MELCloud Home</title>\n    \n    <link rel=\"stylesheet\"
        href=\"/lib/bootstrap/dist/css/bootstrap.min.css\" />\n    <link rel=\"stylesheet\"
        href=\"/lib/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css\" />\n
        \   <link rel=\"stylesheet\" href=\"/css/site.css\" />\n    <link rel=\"stylesheet\"
        href=\"/css/layout.css\" />\n</head>\n<body>\n    \n<header class=\"gs18-Header
        gs18-Header--MinInteraction gs18-Header--NoSearch\" role=\"banner\" data-js-gs18-header>\n
        \   <div class=\"gs18-Header__Inner\" style=\"height:85px\">\n        <a href=\"\"
        style=\"position:absolute;\"><img src=\"/logo_with_name.png\" style=\"height:85px;\"
        alt=\"MITSUBISHI ELECTRIC\"></a>\n        <nav class=\"gs18-HeaderNav\" id=\"navMenu\">\n
        \               <ul class=\"gs18-HeaderNav__Menu\" style=\"width:100%\">\n
        \                   <li class=\"nav-item dropdown gs18-HeaderNav__Item\" style=\"color:black
        !important;\">\n                    <a href=\"#\" class=\"nav-link dropdown-toggle
        gs18-HeaderNav__Text\" data-toggle=\"dropdown\">***REDACTED_EMAIL*** <b class=\"caret\"></b></a>\n\n
        \                   <div class=\"dropdown-menu\">\n                        <a
        class=\"dropdown-item\" href=\"/Account/Logout\">Logout</a>\n                    </div>\n
        \               </li>\n            </ul[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.melcloudhome.com/connect/authorize/callback?request_uri=urn:ietf:params:oauth:request_uri:D8CA8CC425A862F785479B23ECBE002046EA98ABFC367834EBA1666F7B2FBD1B&client_id=homemobile
  response:
    body:
      string: ''
    headers:
      Location:
      - melcloudhome://?code=A157DAFC576F99EFED43986E3734C92346A4E572755721481A92B397E45C8942-1&scope=openid%20profile%20email%20offline_access%20IdentityServerApi&state=oK1XfnZKChh7Sf_OFUA_iQ&session_state=VP72GTRLwp0VqdyFXzW3XC1fyhVIMxDLYyFrwdt58GY.90C43D67513FDAE3E8319ACE9D344F47&iss=https%3A%2F%2Fauth.melcloudhome.com
      apigw-requestid:
      - btVfKho3DoEEMeA=
    status:
      code: 302
      message: Found
- request:
    body:
      client_id: homemobile
      code: '***REDACTED***'
      code_verifier: '***REDACTED***'
      grant_type: authorization_code
      redirect_uri: melcloudhome://
    headers:
    method: POST
    uri: https://auth.melcloudhome.com/connect/token
  response:
    body:
      string: '{"id_token":"***REDACTED***","access_token":"***REDACTED***","expires_in":3600,"token_type":"Bearer","refresh_token":"***REDACTED***","scope":"openid
        profile email offline_access IdentityServerApi"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      apigw-requestid:
      - btVfKhMHjoEEMpQ=
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - '***REDACTED***'
    method: GET
    uri: https://mobile.bff.melcloudhome.com/telemetry/telemetry/actual/aaaaaaaa-aaaa-aaaa-aaaa-98d77a4b9665?from=2026-01-14+12:00&to=2026-01-14+16:00&measure=return_temperature_boiler
  response:
    body:
      string: '{"measureData":[{"deviceId":"aaaaaaaa-aaaa-aaaa-aaaa-98d77a4b9665","type":"returnTemperatureBoiler","values":[]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"72-LSIL7p+ukebIWTUCaH6ZnX/mQK8"
      apigw-requestid:
      - btVfPi9OjoEEJFg=
      origin-agent-cluster:
      - ?1
    status:
      code: 200
      message: OK
version: 1
